* {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Noto Sans KR", sans-serif; }

*::-webkit-scrollbar {
  display: none; }

.link-none:link {
  text-decoration: none; }

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

header {
  width: 100vw;
  height: 10%;
  background: #EEFFEB;
  box-shadow: 0vw 0.3342245989vw 2.6737967914vw 0vw #888; }
  header *:link {
    text-decoration: none; }
  header .logo-box {
    width: 16.7112299465vw;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .logo-box img {
      width: 10.0267379679vw;
      height: 70%;
      margin-top: 1.0026737968vw; }
  header .banner-box {
    width: 83.2887700535vw;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    header .banner-box > i {
      font-size: 1.0026737968vw; }
    header .banner-box > *:link {
      font-size: 3.6764705882vw; }

.main-main {
  width: 100vw;
  height: 90%;
  padding-top: 0.0334224599vw;
  overflow-y: scroll; }
  .main-main article {
    width: 89.9732620321vw;
    height: 160%;
    margin: 8% auto 0; }
    .main-main article .top-section {
      width: 89.9732620321vw;
      height: 55%; }
      .main-main article .top-section .today-pro-suggestion {
        width: 89.9732620321vw;
        height: 5%;
        font-size: 5.013368984vw;
        font-weight: bold; }
      .main-main article .top-section .today-pro-wrap {
        width: 89.9732620321vw;
        height: 93%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-around; }
        .main-main article .top-section .today-pro-wrap .each-pro-box {
          width: 42.4465240642vw;
          height: 42%;
          display: flex;
          flex-direction: column;
          background: #f7f7f7;
          border-radius: 1.6711229947vw;
          box-shadow: 0vw 0.0334224599vw 3.3422459893vw 0vw #bbb; }
          .main-main article .top-section .today-pro-wrap .each-pro-box img {
            width: 42.4465240642vw;
            height: 60%;
            border-radius: 1.6711229947vw 1.6711229947vw 0 0; }
          .main-main article .top-section .today-pro-wrap .each-pro-box .each-pro-title {
            width: 40.4411764706vw;
            height: 23%;
            padding: 0.3342245989vw 1.0026737968vw 0.3342245989vw 1.0026737968vw;
            font-size: 3.6764705882vw;
            overflow: hidden; }
          .main-main article .top-section .today-pro-wrap .each-pro-box .each-pro-price-box {
            width: 42.4465240642vw;
            height: 15%;
            font-size: 4.679144385vw;
            font-weight: bold;
            display: flex;
            justify-content: flex-end; }
            .main-main article .top-section .today-pro-wrap .each-pro-box .each-pro-price-box .each-pro-price {
              width: 33.422459893vw;
              height: 100%;
              text-align: right; }
            .main-main article .top-section .today-pro-wrap .each-pro-box .each-pro-price-box .each-pro-krw {
              width: 5.013368984vw;
              height: 100%;
              text-align: center; }
    .main-main article .bot-section {
      width: 89.9732620321vw;
      height: 45%; }
      .main-main article .bot-section .today-event-suggestion {
        width: 89.9732620321vw;
        height: 7%;
        font-size: 5.013368984vw;
        font-weight: bold; }
      .main-main article .bot-section .today-event-wrap {
        width: 89.9732620321vw;
        height: 93%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        .main-main article .bot-section .today-event-wrap .each-event-box {
          width: 89.9732620321vw;
          height: 45%;
          display: flex;
          flex-direction: column;
          border-radius: 1.6711229947vw;
          box-shadow: 0vw 0.0334224599vw 3.3422459893vw 0vw #bbb; }
          .main-main article .bot-section .today-event-wrap .each-event-box img {
            width: 89.9732620321vw;
            height: 70%;
            border-radius: 1.6711229947vw 1.6711229947vw 0 0; }
          .main-main article .bot-section .today-event-wrap .each-event-box .each-event-title {
            width: 88.6363636364vw;
            height: 15%;
            margin-left: 1.3368983957vw;
            font-size: 4.0106951872vw;
            font-weight: bold; }
          .main-main article .bot-section .today-event-wrap .each-event-box .each-event-date {
            width: 88.6363636364vw;
            height: 10%;
            margin-left: 1.3368983957vw;
            font-size: 3.6764705882vw; }

.pro-main {
  width: 100vw;
  height: 90%;
  padding-top: 0.0334224599vw; }
  .pro-main aside {
    width: 89.9732620321vw;
    height: 25%;
    margin: 3.5% auto 1.5%;
    border-radius: 2.3395721925vw;
    background: #333651; }
    .pro-main aside .pro-category-text-box {
      width: 89.9732620321vw;
      height: 25%;
      border-radius: 2.3395721925vw 2.3395721925vw 0 0;
      display: flex;
      align-items: center;
      background: #7486C8; }
      .pro-main aside .pro-category-text-box > i {
        margin-left: 1.6711229947vw;
        color: #fff;
        font-size: 6.6844919786vw; }
      .pro-main aside .pro-category-text-box > p {
        width: 73.2620320856vw;
        color: #fff;
        text-align: center;
        font-size: 4.3449197861vw;
        font-weight: bold; }
    .pro-main aside .pro-category-box {
      width: 89.9732620321vw;
      height: 75%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .pro-main aside .pro-category-box > * {
        width: 29.9799465241vw;
        height: 50%;
        text-align: center;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center; }
  .pro-main article {
    width: 89.9732620321vw;
    height: 70%;
    margin: 0 auto; }
    .pro-main article > div {
      width: 89.9732620321vw;
      height: 58%; }
      .pro-main article > div > div > i {
        font-size: 10.0267379679vw;
        color: #ddd; }
      .pro-main article > div div {
        width: 89.9732620321vw;
        height: 100%;
        border-radius: 1.6711229947vw; }
      .pro-main article > div .pro-slide-effect > div {
        width: 89.9732620321vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover; }
    .pro-main article .pro-main-img {
      width: 89.9732620321vw;
      margin-top: 2%;
      height: 40%;
      border-radius: 1.6711229947vw; }
    .pro-main article .pro-section {
      width: 89.9732620321vw;
      height: 90%;
      display: flex;
      text-decoration: none;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-around;
      justify-content: space-evenly; }
      .pro-main article .pro-section > *:link {
        text-decoration: none; }
      .pro-main article .pro-section *:link {
        width: 40.1069518717vw;
        height: 45%; }
      .pro-main article .pro-section .pro-content-each {
        width: 40.1069518717vw;
        height: 105%;
        display: flex;
        flex-direction: column; }
        .pro-main article .pro-section .pro-content-each .pro-each-img {
          width: 40.1069518717vw;
          height: 60%;
          border-radius: 1.6711229947vw; }
        .pro-main article .pro-section .pro-content-each .pro-each-text {
          width: 40.1069518717vw;
          height: 25%;
          font-size: 3.3422459893vw;
          overflow: hidden; }
        .pro-main article .pro-section .pro-content-each .pro-each-price-box {
          width: 40.1069518717vw;
          height: 15%;
          font-size: 4.0106951872vw;
          font-weight: bold;
          display: flex;
          justify-content: flex-end; }
    .pro-main article .pro-detail-section {
      width: 89.9732620321vw;
      height: 150%;
      margin: 0 auto; }
      .pro-main article .pro-detail-section .top-box {
        width: 89.6390374332vw;
        height: 70%;
        border: 0.1671122995vw solid #aaa;
        border-radius: 1.6711229947vw;
        overflow-x: hidden;
        overflow-y: scroll; }
        .pro-main article .pro-detail-section .top-box .top-scroll-wrap {
          width: 89.9732620321vw;
          height: 120%; }
          .pro-main article .pro-detail-section .top-box .top-scroll-wrap .img-box {
            width: 89.9732620321vw;
            height: 65%; }
            .pro-main article .pro-detail-section .top-box .top-scroll-wrap .img-box > img {
              width: 89.9732620321vw;
              height: 70%;
              border-radius: 1.6711229947vw; }
            .pro-main article .pro-detail-section .top-box .top-scroll-wrap .img-box > p {
              width: 89.9732620321vw;
              height: 30%;
              font-size: 4.679144385vw;
              font-weight: bold; }
          .pro-main article .pro-detail-section .top-box .top-scroll-wrap .mark-price-box {
            width: 89.9732620321vw;
            height: 12%;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            .pro-main article .pro-detail-section .top-box .top-scroll-wrap .mark-price-box .mark-box {
              width: 36.4973262032vw;
              height: 80%;
              display: flex;
              justify-content: space-between;
              align-items: center; }
              .pro-main article .pro-detail-section .top-box .top-scroll-wrap .mark-price-box .mark-box > img {
                width: 10.6951871658vw;
                height: 90%; }
            .pro-main article .pro-detail-section .top-box .top-scroll-wrap .mark-price-box .price-box {
              width: 40.1069518717vw;
              height: 80%;
              font-size: 5.6818181818vw;
              font-weight: bold;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              letter-spacing: 0.0334224599vw; }
          .pro-main article .pro-detail-section .top-box .top-scroll-wrap .pro-description {
            width: 89.9732620321vw;
            height: 23%;
            font-size: 4.3449197861vw;
            border-radius: 0.6684491979vw; }
      .pro-main article .pro-detail-section .func-box {
        width: 89.9732620321vw;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
        .pro-main article .pro-detail-section .func-box .count-box {
          width: 36.4973262032vw;
          height: 35%;
          display: flex;
          align-items: center;
          justify-content: space-between; }
          .pro-main article .pro-detail-section .func-box .count-box > * {
            width: 9.3582887701vw;
            height: 65%;
            font-size: 5.013368984vw;
            font-weight: bold;
            text-align: center;
            border-radius: 3.3422459893vw;
            line-height: 10.5280748663vw;
            border: 0.3342245989vw solid #aaa;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer; }
          .pro-main article .pro-detail-section .func-box .count-box input::-webkit-inner-spin-button {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none; }
          .pro-main article .pro-detail-section .func-box .count-box input {
            background: #fff;
            outline: none; }
        .pro-main article .pro-detail-section .func-box .price-total-box {
          width: 89.9732620321vw;
          height: 20%;
          display: flex;
          align-items: center;
          font-size: 6.0160427807vw;
          font-weight: bold; }
          .pro-main article .pro-detail-section .func-box .price-total-box .pro-total-text {
            width: 40.1069518717vw;
            text-align: center; }
          .pro-main article .pro-detail-section .func-box .price-total-box .pro-total-price-box {
            width: 49.8663101604vw;
            display: flex;
            justify-content: flex-end; }
        .pro-main article .pro-detail-section .func-box .purchase-box {
          width: 89.9732620321vw;
          height: 40%;
          display: flex;
          font-size: 5.013368984vw;
          align-items: center;
          justify-content: space-between; }
          .pro-main article .pro-detail-section .func-box .purchase-box > * {
            width: 40.1069518717vw;
            height: 80%;
            text-align: center;
            border: 0.3342245989vw solid #aaa; }
          .pro-main article .pro-detail-section .func-box .purchase-box .pro-basket {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0.3342245989vw solid #54C152; }
            .pro-main article .pro-detail-section .func-box .purchase-box .pro-basket > p {
              color: #399f37; }
          .pro-main article .pro-detail-section .func-box .purchase-box .pro-basket:active {
            background: #ddd; }
          .pro-main article .pro-detail-section .func-box .purchase-box .pro-purchase {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #54C152; }
            .pro-main article .pro-detail-section .func-box .purchase-box .pro-purchase > p {
              color: #fff; }
          .pro-main article .pro-detail-section .func-box .purchase-box .pro-purchase:active {
            background: #379c35; }
    .pro-main article .page-box {
      width: 43.1818181818vw;
      height: 10%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .pro-main article .page-box > i {
        font-size: 5.6818181818vw; }
      .pro-main article .page-box * {
        font-size: 5.013368984vw;
        font-weight: bold;
        text-align: center;
        text-decoration: none; }

.event-main {
  width: 100vw;
  height: 90%;
  padding-top: 0.0334224599vw; }
  .event-main article {
    width: 89.9732620321vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .event-main article section {
      width: 89.9732620321vw;
      height: 85%;
      margin: 0 auto; }
      .event-main article section .text-box {
        width: 89.9732620321vw;
        height: 10%;
        display: flex;
        align-items: center; }
        .event-main article section .text-box > i {
          font-size: 10.0267379679vw; }
        .event-main article section .text-box > p {
          font-size: 6.6844919786vw; }
      .event-main article section .event-all-wrap {
        width: 89.9732620321vw;
        height: 90%;
        border-top: 0.3342245989vw solid #555;
        border-bottom: 0.3342245989vw solid #555; }
        .event-main article section .event-all-wrap > *:link {
          display: inline-block;
          width: 89.9732620321vw;
          height: 25%;
          text-decoration: none; }
          .event-main article section .event-all-wrap > *:link:not(:last-child) {
            border-bottom: 0.1671122995vw solid #555; }
        .event-main article section .event-all-wrap .event-each-box {
          width: 89.9732620321vw;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center; }
          .event-main article section .event-all-wrap .event-each-box img {
            width: 21.7245989305vw;
            height: 80%; }
          .event-main article section .event-all-wrap .event-each-box .event-title {
            width: 63.2352941176vw;
            height: 30%;
            font-size: 5.013368984vw;
            font-weight: bold;
            display: flex;
            align-items: center; }
          .event-main article section .event-all-wrap .event-each-box .event-date-box {
            width: 63.2352941176vw;
            height: 30%;
            display: flex;
            font-size: 3.6764705882vw;
            display: flex;
            align-items: center; }
            .event-main article section .event-all-wrap .event-each-box .event-date-box .event-date {
              margin-left: 1.0026737968vw; }
    .event-main article .page-box {
      width: 43.1818181818vw;
      height: 10%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .event-main article .page-box > i {
        font-size: 6.6844919786vw; }
      .event-main article .page-box * {
        font-size: 6.0160427807vw;
        text-align: center;
        text-decoration: none; }

.cart-main {
  width: 100vw;
  height: 90%;
  display: flex;
  align-items: center;
  padding-top: 0.0334224599vw; }
  .cart-main article {
    width: 89.9732620321vw;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .cart-main article .cart-top-section {
      width: 89.9732620321vw;
      height: 8%;
      border-bottom: 0.3342245989vw solid #555;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .cart-main article .cart-top-section > p {
        width: 33.422459893vw;
        height: 80%;
        font-size: 6.0160427807vw;
        font-weight: bold;
        text-align: left;
        display: flex;
        align-items: center; }
      .cart-main article .cart-top-section > div {
        width: 20.0534759358vw;
        height: 80%;
        font-size: 4.0106951872vw;
        text-align: center;
        line-height: 8.3556149733vw;
        border: 0.3342245989vw solid #aaa;
        border-radius: 1.6711229947vw;
        display: flex;
        justify-content: center;
        align-items: center; }
        .cart-main article .cart-top-section > div:active {
          background: #eee; }
    .cart-main article .cart-mid-section {
      width: 89.9732620321vw;
      height: 80%;
      overflow: scroll; }
      .cart-main article .cart-mid-section .cart-collum {
        width: 89.9732620321vw;
        height: 10%;
        border-bottom: 0.1671122995vw solid #555;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .cart-main article .cart-mid-section .cart-collum > * {
          font-size: 4.0106951872vw;
          font-weight: bold;
          text-align: center; }
        .cart-main article .cart-mid-section .cart-collum .cart-check-all {
          width: 4.0106951872vw;
          height: 40%;
          text-align: center;
          margin-left: 0.5013368984vw;
          line-height: 1.0026737968vw;
          border: 0.0334224599vw solid #ccc;
          border-radius: 0.3342245989vw; }
        .cart-main article .cart-mid-section .cart-collum .cart-pro-name {
          width: 41.7780748663vw;
          height: 70%; }
        .cart-main article .cart-mid-section .cart-collum .cart-pro-price {
          width: 13.3689839572vw;
          height: 70%; }
        .cart-main article .cart-mid-section .cart-collum .cart-pro-count {
          width: 12.0320855615vw;
          height: 70%; }
        .cart-main article .cart-mid-section .cart-collum .cart-pro-total {
          width: 15.7085561497vw;
          height: 70%; }
      .cart-main article .cart-mid-section .cart-list-wrap {
        width: 89.9732620321vw;
        height: 90%; }
        .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box {
          width: 89.9732620321vw;
          height: 12%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 0.1671122995vw solid #555; }
          .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-check {
            width: 4.0106951872vw;
            height: 41%;
            text-align: center;
            margin-left: 0.5013368984vw;
            border: 0.0334224599vw solid #ccc;
            border-radius: 0.3342245989vw; }
          .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-pro-box {
            width: 41.7780748663vw;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between; }
            .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-pro-box img {
              width: 9.692513369vw;
              height: 90%; }
            .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-pro-box .cart-each-name {
              width: 33.422459893vw;
              height: 60%;
              font-size: 3.3422459893vw;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
          .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-price-box {
            width: 13.3689839572vw;
            height: 60%;
            font-size: 3.3422459893vw;
            display: flex;
            justify-content: flex-end; }
            .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-price-box .cart-each-price {
              width: 10.0267379679vw;
              height: 3.3422459893vw;
              text-align: right; }
            .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-price-box .cart-each-krw {
              width: 3.3422459893vw;
              height: 3.3422459893vw; }
          .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-count-box {
            width: 12.0320855615vw;
            height: 45%;
            display: flex;
            align-items: center;
            justify-content: space-evenly; }
            .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-count-box > * {
              width: 4.0106951872vw;
              height: 100%;
              font-size: 3.3422459893vw;
              border-radius: 0.6684491979vw;
              border: 0.1002673797vw solid #aaa;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center; }
            .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-count-box input::-webkit-inner-spin-button {
              appearance: none;
              -moz-appearance: none;
              -webkit-appearance: none; }
            .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-count-box input {
              background: #fff;
              outline: none; }
          .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-total-box {
            width: 15.7085561497vw;
            height: 60%;
            font-size: 3.3422459893vw;
            display: flex;
            justify-content: flex-end; }
            .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-total-box .cart-each-total {
              width: 12.3663101604vw;
              height: 3.3422459893vw;
              text-align: right; }
            .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-total-box .cart-each-krw {
              width: 3.3422459893vw;
              height: 3.3422459893vw; }
    .cart-main article .cart-bot-section {
      width: 89.9732620321vw;
      height: 12%;
      border-top: 0.3342245989vw solid #333;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end; }
      .cart-main article .cart-bot-section .cart-total-box {
        width: 43.449197861vw;
        height: 50%;
        display: flex;
        justify-content: flex-end;
        font-size: 3.6764705882vw;
        font-weight: bold; }
        .cart-main article .cart-bot-section .cart-total-box .cart-total-text {
          width: 20.0534759358vw;
          height: 100%; }
        .cart-main article .cart-bot-section .cart-total-box .cart-total-price-box {
          width: 23.3957219251vw;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          font-size: 3.6764705882vw;
          font-weight: bold; }
          .cart-main article .cart-bot-section .cart-total-box .cart-total-price-box .cart-total {
            width: 20.0534759358vw;
            height: 1.3368983957vw;
            text-align: right; }
          .cart-main article .cart-bot-section .cart-total-box .cart-total-price-box .cart-total-krw {
            width: 3.3422459893vw;
            height: 1.3368983957vw; }
      .cart-main article .cart-bot-section .cart-purchase {
        width: 20.0534759358vw;
        height: 45%;
        background: #61d15f;
        color: #fff;
        border: 0.3342245989vw solid #aaa;
        display: flex;
        justify-content: center;
        align-items: center; }
      .cart-main article .cart-bot-section .cart-purchase:active {
        background: #52b050; }

.intro-main {
  width: 100vw;
  height: 90%;
  padding-top: 0.0334224599vw;
  overflow-y: scroll; }
  .intro-main > img {
    width: 100vw;
    height: 23%;
    margin-top: 2%; }
  .intro-main .intro-box {
    width: 89.9732620321vw;
    height: 60%;
    margin: 0 auto; }
    .intro-main .intro-box .effect-box {
      width: 89.9732620321vw;
      height: 50%;
      margin: 0 auto; }
      .intro-main .intro-box .effect-box > img {
        width: 6.6844919786vw;
        height: 18%;
        float: left; }
      .intro-main .intro-box .effect-box > h1 {
        width: 83.2887700535vw;
        height: 20%;
        float: left;
        font-size: 5.6818181818vw;
        font-weight: bold; }
      .intro-main .intro-box .effect-box > p {
        width: 89.9732620321vw;
        height: 80%;
        float: left;
        margin-top: 0.5%;
        font-size: 4.0106951872vw;
        font-weight: normal; }
    .intro-main .intro-box .target-box {
      width: 89.9732620321vw;
      height: 50%;
      margin-top: 5%; }
      .intro-main .intro-box .target-box > img {
        width: 7.3529411765vw;
        height: 18%;
        float: left; }
      .intro-main .intro-box .target-box > h1 {
        width: 82.6203208556vw;
        height: 20%;
        float: left;
        font-size: 5.6818181818vw;
        font-weight: bold; }
      .intro-main .intro-box .target-box > p {
        width: 89.9732620321vw;
        font-size: 4.0106951872vw;
        margin-top: 0.5%;
        height: 65%;
        font-weight: normal;
        float: left; }
  .intro-main .intro-addition-img-box {
    width: 100vw;
    height: 15%;
    display: flex; }
    .intro-main .intro-addition-img-box img {
      width: 100vw;
      height: 100%; }

.login-maintag {
  width: 100vw;
  height: 90%;
  overflow-y: scroll; }
  .login-maintag .login-subbox {
    width: 89.9732620321vw;
    margin: 30% auto;
    height: 60%; }
    .login-maintag .login-subbox .login-outbox {
      background-color: #F2FFEC;
      width: 89.9732620321vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 10px; }
      .login-maintag .login-subbox .login-outbox .login-logobox {
        width: 76.871657754vw;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .login-maintag .login-subbox .login-outbox .login-logobox > img {
          width: 10.0267379679vw;
          height: 100%; }
        .login-maintag .login-subbox .login-outbox .login-logobox > h1 {
          margin-left: 3.3422459893vw;
          width: 20.0534759358vw;
          font-size: 6.6844919786vw; }
      .login-maintag .login-subbox .login-outbox > input {
        width: 68.5160427807vw;
        height: 15%;
        font-size: 4.0106951872vw;
        background-color: white;
        border: none;
        border-radius: 10px;
        margin-left: 3.1417112299vw;
        margin-top: 13.3689839572vw;
        padding-left: 1.6711229947vw;
        color: #333;
        box-shadow: 0.5px 0.5px 0.5px 0.5px inset rgba(128, 128, 128, 0.568); }
      .login-maintag .login-subbox .login-outbox > button {
        width: 68.5160427807vw;
        height: 15%;
        background-color: #0BAC08;
        border-radius: 10px;
        color: aliceblue;
        border: none;
        font-size: 5.013368984vw;
        margin-top: 13.3689839572vw;
        box-shadow: 1px 1px rgba(155, 155, 155, 0.555); }
    .login-maintag .login-subbox .login-join-membership-btn {
      margin-left: 43%;
      margin-top: 3.3422459893vw;
      background: none;
      border: none;
      color: blue;
      font-weight: bold;
      font-size: 3.3422459893vw; }

.membership-maintag {
  width: 100vw;
  height: 90%;
  overflow-y: scroll; }
  .membership-maintag article {
    width: 89.9732620321vw;
    margin: 25% auto;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px; }
    .membership-maintag article .membership-inbox {
      width: 89.9732620321vw;
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .membership-maintag article .membership-inbox > img {
        width: 13.3689839572vw;
        height: 100%; }
      .membership-maintag article .membership-inbox > h1 {
        width: 26.7379679144vw;
        text-align: center; }
    .membership-maintag article .membership-main {
      background-color: #F2FFEC;
      width: 89.9732620321vw;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 10px; }
      .membership-maintag article .membership-main > input {
        width: 68.5160427807vw;
        height: 15%;
        font-size: 4.0106951872vw;
        background-color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 0.5px 0.5px 0.5px 0.5px inset rgba(128, 128, 128, 0.568);
        padding-left: 1.6711229947vw; }
      .membership-maintag article .membership-main > button {
        width: 68.5160427807vw;
        height: 15%;
        background-color: #0BAC08;
        border-radius: 10px;
        color: aliceblue;
        border: none;
        font-size: 5.013368984vw;
        margin-top: 3.3422459893vw;
        box-shadow: 1px 1px rgba(155, 155, 155, 0.555); }

/*# sourceMappingURL=styleM.css.map */
