* {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Noto Sans KR", sans-serif; }

*::-webkit-scrollbar {
  display: none; }

.link-none:link {
  text-decoration: none; }

header {
  width: 100vw;
  height: 8.0729166667vw;
  background: #EEFFEB; }
  header *:link {
    text-decoration: none; }
  header .logo-box {
    width: 18.2291666667vw;
    height: 8.0729166667vw;
    float: left;
    display: flex;
    justify-content: center; }
    header .logo-box img {
      padding: 0.78125vw;
      height: 6.5104166667vw; }
  header .banner-box {
    width: 72.9166666667vw;
    height: 8.0729166667vw;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    header .banner-box > *:link {
      font-size: 2.6041666667vw; }

.intro-main {
  background-color: #fcfff9;
  height: 48.1770833333vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .intro-main .intro-box {
    width: 100vw;
    height: 25vw;
    background-color: #f9ffe3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; }
    .intro-main .intro-box .effect-box {
      height: 10.4166666667vw;
      width: 41.6666666667vw;
      padding-top: 2.0833333333vw; }
    .intro-main .intro-box .target-box {
      height: 10.4166666667vw;
      width: 41.6666666667vw; }
    .intro-main .intro-box .intro-img {
      height: 18.2291666667vw;
      width: 28.6458333333vw;
      margin-left: 5.2083333333vw; }
  .intro-main .intro-addition-img-box {
    width: 93.75vw;
    height: 15.625vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly; }
    .intro-main .intro-addition-img-box .intro-addition-img1 {
      width: 20.8333333333vw;
      height: 15.625vw; }
    .intro-main .intro-addition-img-box .intro-addition-img2 {
      width: 26.0416666667vw;
      height: 15.625vw; }
    .intro-main .intro-addition-img-box .intro-addition-img3 {
      width: 15.625vw;
      height: 15.625vw; }

.main-main {
  width: 100vw;
  height: 31.25vw;
  margin-top: 2.6041666667vw; }
  .main-main .each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 31.25vw; }
  .main-main i {
    display: none; }

.pro-main aside {
  width: 18.2291666667vw;
  height: 48.1770833333vw;
  float: left;
  background: #333651; }
  .pro-main aside .pro-category {
    width: 18.2291666667vw;
    height: 3.3854166667vw;
    display: flex;
    background: #7486C8; }
    .pro-main aside .pro-category i {
      width: 2.6041666667vw;
      height: 3.3854166667vw;
      text-align: center;
      line-height: 3.3854166667vw;
      color: #fff;
      font-size: 1.5625vw; }
    .pro-main aside .pro-category p {
      width: 13.0208333333vw;
      height: 3.3854166667vw;
      font-size: 1.3020833333vw;
      font-weight: bold;
      line-height: 3.3854166667vw;
      color: #fff;
      text-align: center; }
  .pro-main aside .pro-category-box {
    width: 18.2291666667vw;
    height: 40.8854166667vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .pro-main aside .pro-category-box > *:link {
      font-size: 1.5625vw;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none; }
.pro-main .pro_list_wrap > p {
  cursor: pointer; }
.pro-main article {
  width: 81.7708333333vw;
  height: 48.1770833333vw;
  float: left; }
  .pro-main article .pro-slide-effect > div {
    width: 81.7708333333vw;
    height: 20.8333333333vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; }
  .pro-main article .pro-main-img {
    width: 81.7708333333vw;
    height: 27.34375vw; }
  .pro-main article i {
    color: #ddd;
    font-size: 2.6041666667vw; }
  .pro-main article .pro-section {
    width: 67.7083333333vw;
    height: 46.6145833333vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around; }
    .pro-main article .pro-section > *:link {
      text-decoration: none; }
    .pro-main article .pro-section .pro-content-each {
      width: 23.4375vw;
      height: 19.7916666667vw;
      cursor: pointer; }
      .pro-main article .pro-section .pro-content-each img {
        width: 23.4375vw;
        height: 14.5833333333vw; }
      .pro-main article .pro-section .pro-content-each > .pro-each-text {
        width: 23.4375vw;
        height: 3.125vw;
        font-size: 1.0416666667vw; }
      .pro-main article .pro-section .pro-content-each > .pro-each-price {
        width: 23.4375vw;
        height: 1.5625vw;
        text-align: left;
        font-size: 1.0416666667vw;
        font-weight: bold; }
  .pro-main article .pro-detail-section {
    width: 67.7083333333vw;
    height: 46.6145833333vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center; }
    .pro-main article .pro-detail-section .img-box {
      width: 31.25vw;
      height: 26.5625vw;
      display: flex;
      flex-direction: column; }
      .pro-main article .pro-detail-section .img-box > img {
        width: 31.25vw;
        height: 20.8333333333vw;
        border-radius: 0.5208333333vw; }
      .pro-main article .pro-detail-section .img-box > div {
        width: 31.25vw;
        height: 5.2083333333vw;
        padding: 0.2604166667vw 0; }
        .pro-main article .pro-detail-section .img-box > div > img {
          width: 4.6875vw;
          height: 4.6875vw;
          padding: 0.2604166667vw;
          border-radius: 0.5208333333vw; }
    .pro-main article .pro-detail-section .func-box {
      width: 31.25vw;
      height: 26.0416666667vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start; }
      .pro-main article .pro-detail-section .func-box .pro-name {
        width: 31.25vw;
        height: 11.9791666667vw;
        padding: 0.78125vw;
        font-size: 1.3020833333vw;
        font-weight: bold; }
      .pro-main article .pro-detail-section .func-box .price-box {
        width: 30.7291666667vw;
        height: 3.6458333333vw;
        padding-right: 0.5208333333vw;
        font-size: 1.5625vw;
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        letter-spacing: 0.0520833333vw; }
      .pro-main article .pro-detail-section .func-box .count-box {
        width: 9.8958333333vw;
        height: 3.6458333333vw;
        margin-left: 0.5208333333vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly; }
        .pro-main article .pro-detail-section .func-box .count-box > * {
          width: 2.6041666667vw;
          height: 2.6041666667vw;
          font-size: 1.5625vw;
          font-weight: bold;
          border-radius: 0.5208333333vw;
          border: 0.15625vw solid #aaa;
          line-height: 2.6041666667vw;
          text-align: center;
          cursor: pointer; }
        .pro-main article .pro-detail-section .func-box .count-box input::-webkit-inner-spin-button {
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none; }
        .pro-main article .pro-detail-section .func-box .count-box input {
          background: #fff;
          outline: none; }
      .pro-main article .pro-detail-section .func-box .purchase-box {
        width: 20.8333333333vw;
        height: 3.6458333333vw;
        display: flex;
        font-size: 1.0416666667vw;
        align-items: center;
        justify-content: space-evenly; }
        .pro-main article .pro-detail-section .func-box .purchase-box > * {
          width: 9.375vw;
          height: 2.6041666667vw;
          text-align: center;
          line-height: 2.6041666667vw;
          border: 0.15625vw solid #aaa;
          cursor: pointer; }
        .pro-main article .pro-detail-section .func-box .purchase-box .pro-basket {
          color: #399f37;
          border: 0.15625vw solid #54C152; }
        .pro-main article .pro-detail-section .func-box .purchase-box .pro-purchase {
          color: #fff;
          background: #54C152; }
    .pro-main article .pro-detail-section .pro-description {
      width: 60.4166666667vw;
      height: 8.3333333333vw;
      font-size: 1.0416666667vw;
      padding: 1.0416666667vw 1.0416666667vw;
      border-radius: 1.0416666667vw;
      background: #efefef; }
  .pro-main article .page-box {
    width: 10.4166666667vw;
    height: 1.5625vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .pro-main article .page-box > * {
      font-size: 1.3020833333vw;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      cursor: pointer; }
.pro-main .pro-list-wrap {
  width: 6.25vw;
  height: 2.6041666667vw;
  position: absolute;
  font-size: 1.5625vw;
  top: 53.6458333333vw;
  left: 55.7291666667vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .pro-main .pro-list-wrap > p {
    cursor: pointer; }

.event-main > article > *:link {
  text-decoration: none; }
.event-main .text-box {
  width: 10.4166666667vw;
  height: 2.6041666667vw;
  margin-left: 13.5416666667vw; }
  .event-main .text-box > i {
    font-size: 2.6041666667vw;
    float: left; }
  .event-main .text-box > p {
    height: 2.6041666667vw;
    line-height: 1.6;
    margin-left: 0.5208333333vw;
    font-size: 1.5625vw;
    font-weight: bold;
    float: left; }
.event-main section {
  width: 72.9166666667vw;
  height: 17.7083333333vw;
  display: flex;
  margin: 0.78125vw auto;
  justify-content: space-between; }
  .event-main section > div {
    width: 20.8333333333vw;
    height: 17.7083333333vw;
    cursor: pointer; }
    .event-main section > div > img {
      width: 20.8333333333vw;
      height: 13.0208333333vw; }
    .event-main section > div > .event-title {
      font-size: 1.3020833333vw;
      font-weight: bold; }
    .event-main section > div > .event-date {
      margin-top: 0.5208333333vw;
      font-size: 1.0416666667vw; }
.event-main .event-show-all {
  width: 13.0208333333vw;
  height: 4.1666666667vw;
  font-size: 1.5625vw;
  font-weight: bold;
  text-align: center;
  line-height: 2.5;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
  align-items: center;
  justify-content: space-evenly; }

.event-all-main article .text-box {
  width: 10.4166666667vw;
  height: 2.6041666667vw;
  margin-left: 7.03125vw; }
  .event-all-main article .text-box > i {
    font-size: 2.6041666667vw;
    float: left; }
  .event-all-main article .text-box > p {
    height: 2.6041666667vw;
    line-height: 1.6;
    margin-left: 0.5208333333vw;
    font-size: 1.5625vw;
    font-weight: bold;
    float: left; }
.event-all-main article > section {
  width: 88.5416666667vw;
  height: 41.6666666667vw;
  margin: 0.78125vw auto;
  overflow: scroll; }
  .event-all-main article > section .event-all-wrap {
    width: 88.5416666667vw;
    height: 83.3333333333vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch; }
    .event-all-main article > section .event-all-wrap .event-all-each-box {
      width: 19.2708333333vw;
      height: 18.2291666667vw;
      cursor: pointer; }
      .event-all-main article > section .event-all-wrap .event-all-each-box > img {
        width: 19.2708333333vw;
        height: 13.0208333333vw; }
      .event-all-main article > section .event-all-wrap .event-all-each-box > .event-title {
        font-size: 1.3020833333vw;
        font-weight: bold; }
      .event-all-main article > section .event-all-wrap .event-all-each-box > .event-date {
        margin-top: 0.5208333333vw;
        font-size: 1.0416666667vw; }

.chat-bot {
  position: fixed;
  bottom: 30px;
  right: 20px; }

.bot-size {
  width: 5.2083333333vw; }

@keyframes slideRightToLeft {
  from {
    transform: translate(100%, -50%); }
  to {
    transform: translate(-50%, -50%); } }
@keyframes slideOut {
  from {
    transform: translate(-50%, -50%); }
  to {
    transform: translate(100%, -50%); } }
.chatting-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67.7083333333vw;
  height: 46.875vw;
  margin: 0.78125vw auto 3.125vw;
  background-color: #313131;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 1.8229166667vw 2.6041666667vw; }

.in-bot {
  animation: slideRightToLeft 1s forwards; }

.out-bot {
  animation: slideOut 1s forwards; }

.chatting-h1 {
  color: white;
  font-size: 2.0833333333vw; }

.chatting-main {
  height: calc(100% - 2.083vw - 7vw);
  overflow-y: scroll;
  padding-top: 0.78125vw;
  box-sizing: border-box; }

.chatting-input {
  height: 5.9895833333vw;
  font-size: 1.8229166667vw;
  padding-top: 1.5625vw;
  padding-left: 1.3020833333vw;
  padding-right: 1.3020833333vw;
  background-color: #7d7d7d;
  width: 80%;
  box-sizing: border-box;
  color: aliceblue;
  resize: none; }
  .chatting-input:focus {
    outline: none; }

.display-flex-space-ev {
  display: flex;
  justify-content: space-between; }

.chatting-button {
  font-size: 2.8645833333vw;
  width: 15%;
  background-color: transparent;
  color: aliceblue;
  border: 2px solid aliceblue; }

.border-none {
  border: none; }

.border-radius-30 {
  border-radius: 1.5625vw; }

.border-radius-15 {
  border-radius: 0.78125vw; }

.chat-element {
  display: inline-block;
  max-width: 26.0416666667vw;
  color: white;
  background-color: #555555;
  padding: 0.78125vw;
  box-sizing: border-box;
  margin-bottom: 0.78125vw; }

.user-chat {
  text-align: right; }

.gpt-chat {
  text-align: left; }

.gpt-message-box {
  width: 15.625vw;
  height: 7.8125vw;
  position: absolute;
  top: 34.8958333333vw;
  left: 82.5520833333vw;
  border-radius: 1.0416666667vw;
  background: #ddd;
  animation-name: gptMessageDisapper;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }
  .gpt-message-box .gpt-message {
    font-size: 1.0416666667vw;
    font-weight: bold;
    padding: 0.5208333333vw; }
  .gpt-message-box .gpt-message-angle {
    width: 0vw;
    height: 0vw;
    border-bottom: 2.6041666667vw solid transparent;
    border-top: 2.6041666667vw solid #ddd;
    border-left: 1.3020833333vw solid transparent;
    border-right: 1.3020833333vw solid transparent;
    position: absolute;
    top: 7.2916666667vw;
    left: 12.2395833333vw; }

@keyframes gptMessageDisapper {
  0% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none; } }
.user-color {
  background-color: #7166c6; }

.login-outbox {
  width: 28.6458333333vw;
  height: 28.6458333333vw;
  background-color: rgba(226, 226, 226, 0.212);
  border-radius: 10px;
  box-shadow: 2px 2px rgba(128, 128, 128, 0.459);
  margin: auto; }

.login-logobox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.125vw; }
  .login-logobox > h1 {
    font-size: 2.6041666667vw;
    margin-top: 2.6041666667vw;
    font-weight: 100; }

.login-input-textbox {
  height: 2.6041666667vw;
  width: 20.8333333333vw;
  display: flex;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px inset rgba(128, 128, 128, 0.568);
  margin: auto;
  margin-top: 6.25vw;
  transition: box-shadow 0.1s;
  padding-left: 0.5208333333vw;
  box-sizing: border-box;
  box-shadow: inset 0 0 0vw 0vw black, 0 0 0.2604166667vw 0.0520833333vw; }
  .login-input-textbox:focus {
    box-shadow: inset 0 0 0.3645833333vw 0.0520833333vw black, 0 0 0vw 0vw;
    outline: none; }

.login-next-btn {
  height: 2.6041666667vw;
  width: 20.8333333333vw;
  margin: auto;
  display: flex;
  margin-top: 1.0416666667vw;
  background-color: #4EAAFF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.0416666667vw;
  border-radius: 10px;
  color: aliceblue;
  box-shadow: 1px 1px rgba(155, 155, 155, 0.555); }

.login-join-membership-btn {
  position: absolute;
  margin-left: 48.4375vw;
  margin-top: 1.5625vw;
  background: none;
  border: none;
  font-size: 1.0416666667vw;
  color: #4747fd; }

.close-bot {
  font-size: 2.0833333333vw;
  color: white;
  float: right; }

.hover-cursor:hover {
  cursor: pointer; }

.dY {
  display: block; }

.dN {
  display: none; }

.membership-outbox {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .membership-outbox .membership-inbox {
    width: 28.6458333333vw;
    height: 2.6041666667vw;
    font-size: 1.3020833333vw;
    text-align: center;
    margin-bottom: 1.5625vw;
    margin-top: -1.5625vw; }
  .membership-outbox .membership-main {
    width: 28.6458333333vw;
    height: 28.6458333333vw;
    background-color: rgba(226, 226, 226, 0.212);
    border-radius: 10px;
    box-shadow: 2px 2px rgba(128, 128, 128, 0.459);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .membership-outbox .membership-main > input {
      height: 2.6041666667vw;
      width: 20.8333333333vw;
      display: flex;
      border: none;
      border-radius: 10px;
      box-shadow: 1px 1px 1px 1px inset rgba(128, 128, 128, 0.568);
      margin: auto;
      font-size: 1.3020833333vw;
      margin-bottom: 1.0416666667vw;
      padding-left: 0.5208333333vw; }

.member-next-btn {
  height: 2.6041666667vw;
  width: 20.8333333333vw;
  margin: auto;
  display: flex;
  margin-top: 2.0833333333vw;
  background-color: #4EAAFF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.0416666667vw;
  border-radius: 10px;
  color: aliceblue;
  box-shadow: 1px 1px rgba(155, 155, 155, 0.555); }

/*# sourceMappingURL=style.css.map */
