@function pxToVw($px) {
  @return $px / 1920 * 100vw;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Noto Sans KR", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

.link-none {
  &:link {
    text-decoration: none;
  }
}

header {
  width: pxToVw(1920);
  height: pxToVw(155);
  background: #EEFFEB;

  *:link {
    text-decoration: none;
  }

  .logo-box {
    width: pxToVw(350);
    height: pxToVw(155);
    float: left;
    display: flex;
    justify-content: center;

    img {
      padding: pxToVw(15);
      height: pxToVw(125);
    }
  }

  .banner-box {
    width: pxToVw(1400);
    height: pxToVw(155);
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &>*:link {
      font-size: pxToVw(50);
    }
  }
}

// --intro 파트 (2page)

.intro-main {
  background-color: #fcfff9;
  height: pxToVw(925);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  // 컨텐츠 오버 박스
  .intro-box {
    width: pxToVw(1920);
    height: pxToVw(480);
    background-color: #f9ffe3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    // 설립취지 폰트박스
    .effect-box {
      height: pxToVw(200);
      width: pxToVw(800);
      padding-top: pxToVw(40);
    }

    // 설립목표 폰트박스
    .target-box {
      height: pxToVw(200);
      width: pxToVw(800);
    }

    // 이미지 박스
    .intro-img {
      height: pxToVw(350);
      width: pxToVw(550);
      margin-left: pxToVw(100);
    }
  }

  .intro-addition-img-box {
    width: pxToVw(1800);
    height: pxToVw(300);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

    .intro-addition-img1 {
      width: pxToVw(400);
      height: pxToVw(300);
    }

    .intro-addition-img2 {
      width: pxToVw(500);
      height: pxToVw(300);
    }

    .intro-addition-img3 {
      width: pxToVw(300);
      height: pxToVw(300);
    }
  }
}

// 메인 페이지 CSS
.main-main {
  width: pxToVw(1920);
  height: pxToVw(600);
  margin-top: pxToVw(50);

  .each-slide-effect>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: pxToVw(600);
  }

  & i {
    display: none;
  }
}

// 제품 페이지 CSS
.pro-main {

  aside {
    width: pxToVw(350);
    height: pxToVw(925);
    float: left;
    background: #333651;

    .pro-category {
      width: pxToVw(350);
      height: pxToVw(65);
      display: flex;
      background: #7486C8;

      i {
        width: pxToVw(50);
        height: pxToVw(65);
        text-align: center;
        line-height: pxToVw(65);
        color: #fff;
        font-size: pxToVw(30);
      }

      p {
        width: pxToVw(250);
        height: pxToVw(65);
        font-size: pxToVw(25);
        font-weight: bold;
        line-height: pxToVw(65);
        color: #fff;
        text-align: center;
      }
    }

    .pro-category-box {
      width: pxToVw(350);
      height: pxToVw(785);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      &>*:link {
        font-size: pxToVw(30);
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  .pro_list_wrap>p {
    cursor: pointer;
  }

  article {
    width: pxToVw(1570);
    height: pxToVw(925);
    overflow-y: hidden;
    float: left;

    .pro-slide-effect>div {
      width: pxToVw(1570);
      height: pxToVw(400);
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
    }

    .pro-main-img {
      width: pxToVw(1570);
      height: pxToVw(525);
    }

    & i {
      color: #ddd;
      font-size: pxToVw(50);
    }

    .pro-section {
      width: pxToVw(1300);
      height: pxToVw(835);
      margin: pxToVw(30) auto 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: space-around;

      &>*:link {
        text-decoration: none;
      }

      & .pro-content-each {
        width: pxToVw(450);
        height: pxToVw(380);
        cursor: pointer;

        & img {
          width: pxToVw(450);
          height: pxToVw(280);
        }

        &>.pro-each-text {
          width: pxToVw(450);
          height: pxToVw(30);
          font-size: pxToVw(20);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .pro-each-price-box {
          width: pxToVw(450);
          height: pxToVw(30);
          display: flex;
          justify-content: flex-end;
          font-size: pxToVw(20);
          font-weight: bold;
        }
      }
    }

    .pro-detail-section {
      width: pxToVw(1300);
      height: pxToVw(895);
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      align-content: center;

      .img-box {
        width: pxToVw(600);
        height: pxToVw(510);
        display: flex;
        flex-direction: column;

        &>img {
          width: pxToVw(600);
          height: pxToVw(400);
          border-radius: pxToVw(10);
        }

        &>div {
          width: pxToVw(600);
          height: pxToVw(100);
          padding: pxToVw(5) 0;

          &>img {
            width: pxToVw(90);
            height: pxToVw(90);
            padding: pxToVw(5);
            border-radius: pxToVw(10);
          }
        }
      }

      .func-box {
        width: pxToVw(600);
        height: pxToVw(500);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-content: flex-start;

        .pro-name {
          width: pxToVw(600);
          height: pxToVw(300);
          padding: pxToVw(15);
          font-size: pxToVw(25);
          font-weight: bold;
        }

        .price-box {
          width: pxToVw(590);
          height: pxToVw(60);
          padding-right: pxToVw(10);
          font-size: pxToVw(30);
          font-weight: bold;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          letter-spacing: pxToVw(1);
        }

        .count-box {
          width: pxToVw(190);
          height: pxToVw(110);
          margin-left: pxToVw(10);
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          &>* {
            width: pxToVw(50);
            height: pxToVw(50);
            font-size: pxToVw(30);
            font-weight: bold;
            border-radius: pxToVw(10);
            border: pxToVw(3) solid #aaa;
            line-height: pxToVw(50);
            text-align: center;
            cursor: pointer;
          }

          input::-webkit-inner-spin-button {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
          }

          input {
            background: #fff;
            outline: none;
          }
        }
      }

      .pro-description {
        width: pxToVw(1160);
        height: pxToVw(150);
        font-size: pxToVw(20);
        padding: pxToVw(20) pxToVw(20);
        border-radius: pxToVw(20);
        background: #efefef;
      }

      .price-result-box {
        width: pxToVw(1200);
        height: pxToVw(70);
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .price-total-box {
          width: pxToVw(300);
          height: pxToVw(60);
          font-size: pxToVw(30);
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .pro-total-price-box {
            display: flex;
            align-items: center;
            margin-right: pxToVw(10);
          }
        }

        .purchase-box {
          width: pxToVw(400);
          height: pxToVw(60);
          display: flex;
          font-size: pxToVw(20);
          align-items: center;
          justify-content: space-evenly;

          &>* {
            width: pxToVw(180);
            height: pxToVw(50);
            text-align: center;
            line-height: pxToVw(50);
            border: pxToVw(3) solid #aaa;
            cursor: pointer;
          }

          .pro-basket {
            color: #399f37;
            border: pxToVw(3) solid #54C152;
          }

          .pro-purchase {
            color: #fff;
            background: #54C152;
          }
        }
      }
    }

    & .page-box {
      width: pxToVw(200);
      height: pxToVw(30);
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      &>* {
        font-size: pxToVw(25);
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  .pro-list-wrap {
    width: pxToVw(120);
    height: pxToVw(50);
    position: absolute;
    font-size: pxToVw(30);
    top: pxToVw(1030);
    left: pxToVw(1070);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &>p {
      cursor: pointer;
    }
  }
}

// 행사 페이지 CSS
.event-main {
  &>article>*:link {
    text-decoration: none;
  }

  .text-box {
    width: pxToVw(200);
    height: pxToVw(50);
    margin-left: pxToVw(260);

    &>i {
      font-size: pxToVw(50);
      float: left;
    }

    &>p {
      height: pxToVw(50);
      line-height: 1.6;
      margin-left: pxToVw(10);
      font-size: pxToVw(30);
      font-weight: bold;
      float: left;
    }
  }

  section {
    width: pxToVw(1400);
    height: pxToVw(340);
    display: flex;
    margin: pxToVw(15) auto;
    justify-content: space-between;

    &>div {
      width: pxToVw(400);
      height: pxToVw(340);
      cursor: pointer;

      &>img {
        width: pxToVw(400);
        height: pxToVw(250);
      }

      &>.event-title {
        font-size: pxToVw(25);
        font-weight: bold;
      }

      &>.event-date {
        margin-top: pxToVw(10);
        font-size: pxToVw(20);
      }
    }
  }

  .event-show-all {
    width: pxToVw(250);
    height: pxToVw(80);
    font-size: pxToVw(30);
    font-weight: bold;
    text-align: center;
    line-height: 2.5;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
    align-items: center;
    justify-content: space-evenly;
  }
}

// 전체 행사 페이지 CSS
.event-all-main {
  article {
    .text-box {
      width: pxToVw(200);
      height: pxToVw(50);
      margin-left: pxToVw(135);

      &>i {
        font-size: pxToVw(50);
        float: left;
      }

      &>p {
        height: pxToVw(50);
        line-height: 1.6;
        margin-left: pxToVw(10);
        font-size: pxToVw(30);
        font-weight: bold;
        float: left;
      }
    }

    &>section {
      width: pxToVw(1700);
      height: pxToVw(800);
      margin: pxToVw(15) auto;
      overflow: scroll;

      .event-all-wrap {
        width: pxToVw(1700);
        height: pxToVw(1600);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-content: stretch;

        .event-all-each-box {
          width: pxToVw(370);
          height: pxToVw(350);
          cursor: pointer;

          &>img {
            width: pxToVw(370);
            height: pxToVw(250);
          }

          &>.event-title {
            font-size: pxToVw(25);
            font-weight: bold;
          }

          &>.event-date {
            margin-top: pxToVw(10);
            font-size: pxToVw(20);
          }
        }
      }
    }
  }
}

.chat-bot {
  position: fixed;
  bottom: 30px;
  right: 20px;
}

.bot-size {
  width: pxToVw(100);
}

@keyframes slideRightToLeft {
  from {
    transform: translate(100%, -50%);
  }

  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes slideOut {
  from {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(100%, -50%);
  }
}

.chatting-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // animation: slideRightToLeft 1s forwards;
  width: pxToVw(1300);
  height: pxToVw(900);
  margin: pxToVw(15) auto pxToVw(60);
  background-color: #313131;
  border-radius: 30px;
  box-sizing: border-box;
  padding: pxToVw(35) pxToVw(50);
}

.in-bot {
  animation: slideRightToLeft 1s forwards;
}

.out-bot {
  animation: slideOut 1s forwards;
}

.chatting-h1 {
  color: white;
  font-size: pxToVw(40);
}

.chatting-main {
  height: calc(100% - 2.083vw - 7vw);
  overflow-y: scroll;
  padding-top: pxToVw(15);
  box-sizing: border-box;
}

.chatting-input {
  height: pxToVw(115);
  font-size: pxToVw(35);
  padding-top: pxToVw(30);
  padding-left: pxToVw(25);
  padding-right: pxToVw(25);
  background-color: #7d7d7d;
  width: 80%;
  box-sizing: border-box;
  color: aliceblue;
  resize: none;

  &:focus {
    outline: none;
  }
}

.display-flex-space-ev {
  display: flex;
  justify-content: space-between;
}

.chatting-button {
  font-size: pxToVw(55);
  width: 15%;
  background-color: transparent;
  color: aliceblue;
  border: 2px solid aliceblue;
}

.border-none {
  border: none;
}

.border-radius-30 {
  border-radius: pxToVw(30);
}

.border-radius-15 {
  border-radius: pxToVw(15);
}

.chat-element {
  display: inline-block;
  max-width: pxToVw(500);
  color: white;
  // width: pxToVw(500);
  background-color: #555555;
  padding: pxToVw(15);
  box-sizing: border-box;
  margin-bottom: pxToVw(15);
}

.user-chat {
  text-align: right;
}

.gpt-chat {
  text-align: left;
}

.gpt-message-box {
  width: pxToVw(300);
  height: pxToVw(150);
  position: absolute;
  top: pxToVw(670);
  left: pxToVw(1585);
  border-radius: pxToVw(20);
  background: #ddd;
  animation-name: gptMessageDisapper;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  .gpt-message {
    font-size: pxToVw(20);
    font-weight: bold;
    padding: pxToVw(10);
  }

  .gpt-message-angle {
    width: pxToVw(0);
    height: pxToVw(0);
    border-bottom: pxToVw(50) solid transparent;
    border-top: pxToVw(50) solid #ddd;
    border-left: pxToVw(25) solid transparent;
    border-right: pxToVw(25) solid transparent;
    position: absolute;
    top: pxToVw(140);
    left: pxToVw(235);
  }
}

@keyframes gptMessageDisapper {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.user-color {
  background-color: #7166c6;
}

// -- 로그인 페이지

// 로그인 박스
.login-outbox {
  width: pxToVw(550);
  height: pxToVw(550);
  background-color: rgba(226, 226, 226, 0.212);
  border-radius: 10px;
  box-shadow: 2px 2px rgba(128, 128, 128, 0.459);
  margin: auto;
}

// 로그인 로고 박스
.login-logobox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: pxToVw(60);

  &>h1 {
    font-size: pxToVw(50);
    margin-top: pxToVw(50);
    font-weight: 100;
  }
}

// 아이디 입력
.login-input-textbox {
  height: pxToVw(50);
  width: pxToVw(400);
  display: flex;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px inset rgba(128, 128, 128, 0.568);
  margin: auto;
  margin-top: pxToVw(120);
  transition: box-shadow 0.1s;
  padding-left: pxToVw(10);
  box-sizing: border-box;
  box-shadow: inset 0 0 pxToVw(0) pxToVw(0) black, 0 0 pxToVw(5) pxToVw(1);

  &:focus {
    box-shadow: inset 0 0 pxToVw(7) pxToVw(1) black, 0 0 pxToVw(0) pxToVw(0);
    outline: none;
  }
}

// 다음 버튼
.login-next-btn {
  height: pxToVw(50);
  width: pxToVw(400);
  margin: auto;
  display: flex;
  margin-top: pxToVw(20);
  background-color: #4EAAFF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: pxToVw(20);
  border-radius: 10px;
  color: aliceblue;
  box-shadow: 1px 1px rgba(155, 155, 155, 0.555);
}

// 회원가입 버튼
.login-join-membership-btn {
  position: absolute;
  margin-left: pxToVw(930);
  margin-top: pxToVw(30);
  background: none;
  border: none;
  font-size: pxToVw(20);
  color: rgb(71, 71, 253);
}

// }

// 장바구니 페이지
.cart-main {
  article {
    width: pxToVw(1400);
    height: pxToVw(855);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .cart-top-section {
      width: pxToVw(1400);
      height: pxToVw(75);
      display: flex;
      justify-content: space-between;
      align-items: center;

      &>p {
        width: pxToVw(300);
        height: pxToVw(75);
        font-size: pxToVw(35);
        font-weight: bold;
        text-align: left;
        line-height: pxToVw(75);
      }

      &>div {
        width: pxToVw(130);
        height: pxToVw(45);
        font-size: pxToVw(25);
        text-align: center;
        line-height: pxToVw(45);
        border: pxToVw(2) solid #aaa;
        border-radius: pxToVw(5);
        cursor: pointer;

        &:active {
          background: #eee;
        }
      }
    }

    .cart-mid-section {
      width: pxToVw(1400);
      height: pxToVw(625);
      border-top: pxToVw(3) solid #333;
      overflow: scroll;

      .cart-collum {
        width: pxToVw(1400);
        height: pxToVw(60);
        border-bottom: pxToVw(1) solid #555;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>* {
          font-size: pxToVw(20);
          font-weight: bold;
          text-align: center;
          line-height: pxToVw(60);
        }

        .cart-check-all {
          width: pxToVw(30);
          height: pxToVw(30);
          text-align: center;
          margin-left: pxToVw(15);
          line-height: pxToVw(30);
          border: pxToVw(3) solid #ccc;
          border-radius: pxToVw(10);
          cursor: pointer;
        }

        .cart-pro-name {
          width: pxToVw(400);
          height: pxToVw(60);
        }

        .cart-pro-price {
          width: pxToVw(200);
          height: pxToVw(60);
        }

        .cart-pro-count {
          width: pxToVw(200);
          height: pxToVw(60);
        }

        .cart-pro-total {
          width: pxToVw(200);
          height: pxToVw(60);
        }
      }

      .cart-list-wrap {
        width: pxToVw(1400);

        .cart-each-box {
          width: pxToVw(1400);
          height: pxToVw(100);
          display: flex;
          justify-content: space-between;
          align-items: center;

          &>* {
            font-size: pxToVw(20);
          }

          .cart-each-check {
            width: pxToVw(30);
            height: pxToVw(30);
            text-align: center;
            margin-left: pxToVw(15);
            line-height: pxToVw(30);
            border: pxToVw(3) solid #ccc;
            border-radius: pxToVw(10);
            cursor: pointer;
          }

          .cart-each-pro-box {
            width: pxToVw(400);
            height: pxToVw(100);
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
              width: pxToVw(90);
              height: pxToVw(90);
            }

            .cart-each-name {
              width: pxToVw(290);
              height: pxToVw(80);
            }
          }

          .cart-each-price-box {
            width: pxToVw(200);
            height: pxToVw(100);
            font-size: pxToVw(25);
            display: flex;
            justify-content: flex-end;

            .cart-each-price {
              width: pxToVw(120);
              height: pxToVw(100);
              line-height: pxToVw(100);
              text-align: right;
            }

            .cart-each-krw {
              width: pxToVw(80);
              height: pxToVw(100);
              line-height: pxToVw(100);
            }
          }

          .cart-each-count-box {
            width: pxToVw(200);
            height: pxToVw(100);
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            &>* {
              width: pxToVw(45);
              height: pxToVw(45);
              font-size: pxToVw(25);
              border-radius: pxToVw(10);
              border: pxToVw(3) solid #aaa;
              line-height: pxToVw(45);
              text-align: center;
              cursor: pointer;
            }

            input::-webkit-inner-spin-button {
              appearance: none;
              -moz-appearance: none;
              -webkit-appearance: none;
            }

            input {
              background: #fff;
              outline: none;
            }
          }

          .cart-each-total-box {
            width: pxToVw(200);
            height: pxToVw(100);
            font-size: pxToVw(25);
            display: flex;
            justify-content: flex-end;

            .cart-each-total {
              width: pxToVw(120);
              height: pxToVw(100);
              line-height: pxToVw(100);
              text-align: right;
            }

            .cart-each-krw {
              width: pxToVw(80);
              height: pxToVw(100);
              line-height: pxToVw(100);
            }
          }
        }
      }
    }

    .cart-bot-section {
      width: pxToVw(1400);
      height: pxToVw(107);
      border-top: pxToVw(3) solid #333;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;

      .cart-total-box {
        width: pxToVw(400);
        height: pxToVw(40);
        display: flex;
        justify-content: flex-end;
        font-size: pxToVw(30);
        font-weight: bold;

        .cart-total-text {
          width: pxToVw(200);
          height: pxToVw(40);
          line-height: pxToVw(40);
        }

        .cart-total-price-box {
          width: pxToVw(200);
          height: pxToVw(40);
          display: flex;
          justify-content: flex-end;
          font-size: pxToVw(30);
          font-weight: bold;

          .cart-total {
            width: pxToVw(150);
            height: pxToVw(40);
            line-height: pxToVw(40);
            text-align: right;
          }

          .cart-total-krw {
            width: pxToVw(50);
            height: pxToVw(40);
            line-height: pxToVw(40);
          }
        }
      }

      .cart-purchase {
        width: pxToVw(200);
        height: pxToVw(58);
        background: #EEFFEB;
        font-size: pxToVw(25);
        text-align: center;
        line-height: pxToVw(58);
        border: pxToVw(2) solid #aaa;
        border-radius: pxToVw(5);
        cursor: pointer;

        &:active {
          background: #d2ebcd;
        }
      }
    }
  }
}

.close-bot {
  font-size: pxToVw(40);
  color: white;
  float: right;
}

.hover-cursor {
  &:hover {
    cursor: pointer;
  }
}

.dY {
  display: block;
}

.dN {
  display: none;
}

// 회원가입 페이지 박스
.membership-outbox {
  // margin-left: pxToVw(690);
  // margin: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  // 회원가입 폰트
  .membership-inbox {
    width: pxToVw(550);
    height: pxToVw(50);
    font-size: pxToVw(25);
    text-align: center;
    margin-bottom: pxToVw(30);
    margin-top: pxToVw(-30);
  }

  // 회원가입 입력 박스
  .membership-main {
    width: pxToVw(550);
    height: pxToVw(550);
    background-color: rgba(226, 226, 226, 0.212);
    border-radius: 10px;
    box-shadow: 2px 2px rgba(128, 128, 128, 0.459);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &>input {
      height: pxToVw(50);
      width: pxToVw(400);
      display: flex;
      border: none;
      border-radius: 10px;
      box-shadow: 1px 1px 1px 1px inset rgba(128, 128, 128, 0.568);
      margin: auto;
      font-size: pxToVw(25);
      margin-bottom: pxToVw(20);
      padding-left: pxToVw(10);
    }
  }
}

.member-next-btn {
  height: pxToVw(50);
  width: pxToVw(400);
  margin: auto;
  display: flex;
  margin-top: pxToVw(40);
  background-color: #4EAAFF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: pxToVw(20);
  border-radius: 10px;
  color: aliceblue;
  box-shadow: 1px 1px rgba(155, 155, 155, 0.555);
}

@media (max-width: 500px) {
  html,body,#root {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
  }
  header {
    width: 100vw;
    height: 10%;
    background: #EEFFEB;
    box-shadow: 0vw 0.3342245989vw 2.6737967914vw 0vw #888; }
    header *:link {
      text-decoration: none; }
    header .logo-box {
      width: 16.7112299465vw;
      height: 100%;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center; }
      header .logo-box img {
        width: 10.0267379679vw;
        height: 70%;
        margin-top: 1.0026737968vw; }
    header .banner-box {
      width: 83.2887700535vw;
      height: 100%;
      float: right;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
      header .banner-box > i {
        font-size: 1.0026737968vw; }
      header .banner-box > *:link {
        font-size: 3.6764705882vw; }

  .main-main-M {
    width: 100vw;
    height: 90%;
    padding-top: 0.0334224599vw;
    overflow-x: hidden; 
    overflow-y: scroll; }
    .main-main-M article {
      width: 89.9732620321vw;
      height: 160%;
      margin: 8% auto 0; }
      .main-main-M article .top-section {
        width: 89.9732620321vw;
        height: 55%; }
        .main-main-M article .top-section .today-pro-suggestion {
          width: 89.9732620321vw;
          height: 5%;
          font-size: 5.013368984vw;
          font-weight: bold; }
        .main-main-M article .top-section .today-pro-wrap {
          width: 89.9732620321vw;
          height: 93%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-content: space-around; }
          .main-main-M article .top-section .today-pro-wrap .each-pro-box {
            width: 42.4465240642vw;
            height: 42%;
            display: flex;
            flex-direction: column;
            background: #f7f7f7;
            border-radius: 1.6711229947vw;
            box-shadow: 0vw 0.0334224599vw 3.3422459893vw 0vw #bbb; }
            .main-main-M article .top-section .today-pro-wrap .each-pro-box img {
              width: 42.4465240642vw;
              height: 60%;
              border-radius: 1.6711229947vw 1.6711229947vw 0 0; }
            .main-main-M article .top-section .today-pro-wrap .each-pro-box .each-pro-title {
              width: 40.4411764706vw;
              height: 23%;
              padding: 0.3342245989vw 1.0026737968vw 0.3342245989vw 1.0026737968vw;
              font-size: 3.6764705882vw;
              overflow: hidden; }
            .main-main-M article .top-section .today-pro-wrap .each-pro-box .each-pro-price-box {
              width: 42.4465240642vw;
              height: 15%;
              font-size: 4.679144385vw;
              font-weight: bold;
              display: flex;
              justify-content: flex-end; }
              .main-main-M article .top-section .today-pro-wrap .each-pro-box .each-pro-price-box .each-pro-price {
                width: 33.422459893vw;
                height: 100%;
                text-align: right; }
              .main-main-M article .top-section .today-pro-wrap .each-pro-box .each-pro-price-box .each-pro-krw {
                width: 5.013368984vw;
                height: 100%;
                text-align: center; }
      .main-main-M article .bot-section {
        width: 89.9732620321vw;
        height: 45%; }
        .main-main-M article .bot-section .today-event-suggestion {
          width: 89.9732620321vw;
          height: 7%;
          font-size: 5.013368984vw;
          font-weight: bold; }
        .main-main-M article .bot-section .today-event-wrap {
          width: 89.9732620321vw;
          height: 93%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly; }
          .main-main-M article .bot-section .today-event-wrap .each-event-box {
            width: 89.9732620321vw;
            height: 45%;
            display: flex;
            flex-direction: column;
            border-radius: 1.6711229947vw;
            box-shadow: 0vw 0.0334224599vw 3.3422459893vw 0vw #bbb; }
            .main-main-M article .bot-section .today-event-wrap .each-event-box img {
              width: 89.9732620321vw;
              height: 70%;
              border-radius: 1.6711229947vw 1.6711229947vw 0 0; }
            .main-main-M article .bot-section .today-event-wrap .each-event-box .each-event-title {
              width: 88.6363636364vw;
              height: 15%;
              margin-left: 1.3368983957vw;
              font-size: 4.0106951872vw;
              font-weight: bold; }
            .main-main-M article .bot-section .today-event-wrap .each-event-box .each-event-date {
              width: 88.6363636364vw;
              height: 10%;
              margin-left: 1.3368983957vw;
              font-size: 3.6764705882vw; }
            
    .intro-main {
      width: 100vw;
      height: 90%;
      padding-top: 0.0334224599vw;
      overflow-x: hidden;
      overflow-y: scroll;
      display: block; }
      .intro-main > img {
        width: 100vw;
        height: 23%;
        margin-top: 2%; }
      .intro-main .intro-box {
        width: 89.9732620321vw;
        height: 60%;
        margin: 0 auto;
        background: none;
        display: block; }
        .intro-main .intro-box .effect-box {
          width: 89.9732620321vw;
          height: 50%;
          margin: 5% auto;
          padding: 0; }
          .intro-main .intro-box .effect-box > h1 {
            width: 83.2887700535vw;
            height: 20%;
            float: left;
            font-size: 5.6818181818vw;
            font-weight: bold; }
          .intro-main .intro-box .effect-box > p {
            width: 89.9732620321vw;
            height: 80%;
            float: left;
            margin-top: 0.5%;
            font-size: 4.0106951872vw;
            font-weight: normal; }
        .intro-main .intro-box .target-box {
          width: 89.9732620321vw;
          height: 50%; }
          .intro-main .intro-box .target-box > h1 {
            width: 82.6203208556vw;
            height: 20%;
            float: left;
            font-size: 5.6818181818vw;
            font-weight: bold; }
          .intro-main .intro-box .target-box > p {
            width: 89.9732620321vw;
            font-size: 4.0106951872vw;
            margin-top: 0.5%;
            height: 65%;
            font-weight: normal;
            float: left; }
      .intro-main .intro-addition-img-box {
        width: 100vw;
        height: 11.7%;
        display: flex; }
        .intro-main .intro-addition-img-box img {
          width: 100vw;
          height: 100%;
         }

    .pro-main {
    width: 100vw;
    height: 90%;
    padding-top: 0.0334224599vw;
    overflow-x: hidden;  }
    .pro-main aside {
      width: 89.9732620321vw;
      height: 25%;
      margin: 3.5% auto 1.5%;
      border-radius: 2.3395721925vw;
      background: #333651;
      float: none; }
      .pro-main aside .pro-category {
        width: 89.9732620321vw;
        height: 25%;
        border-radius: 2.3395721925vw 2.3395721925vw 0 0;
        display: flex;
        align-items: center;
        background: #7486C8; }
        .pro-main aside .pro-category > i {
          width: initial;
          margin-left: 1.6711229947vw;
          color: #fff;
          font-size: 6.6844919786vw; }
        .pro-main aside .pro-category > p {
          width: 73.2620320856vw;
          color: #fff;
          text-align: center;
          font-size: 4.3449197861vw;
          font-weight: bold; }
      .pro-main aside .pro-category-box {
        width: 89.9732620321vw;
        height: 75%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        &>*:link {
          font-size: pxToVw(70);
          font-weight: bold;
          text-decoration: none;
        }
      }
        .pro-main aside .pro-category-box > * {
          width: 29.9799465241vw;
          height: 50%;
          text-align: center;
          text-decoration: none;
          display: flex;
          font-size: 16px;
          justify-content: center;
          align-items: center; }
    .pro-main article {
      width: 89.9732620321vw;
      height: 70%;
      margin: 0 auto;
      float: none;
      overflow-y: scroll; }
      .pro-main article > div {
        width: 89.9732620321vw;
        height: 58%; }
        .pro-main article > div > div > i {
          font-size: 10.0267379679vw;
          color: #ddd; }
        .pro-main article > div div {
          width: 89.9732620321vw;
          height: 100%;
          border-radius: 1.6711229947vw; }
        .pro-main article > div .pro-slide-effect > div {
          width: 89.9732620321vw;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-size: cover;
        }
      .pro-main article .pro-main-img {
        width: 89.9732620321vw;
        margin-top: 2%;
        height: 40%;
        border-radius: 1.6711229947vw; }
      .pro-main article .pro-section {
        width: 89.9732620321vw;
        height: 90%;
        display: flex;
        text-decoration: none;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-evenly; }
        .pro-main article .pro-section > *:link {
          text-decoration: none; }
        .pro-main article .pro-section *:link {
          width: 40.1069518717vw;
          height: 45%; }
        .pro-main article .pro-section .pro-content-each {
          width: 40.1069518717vw;
          height: 105%;
          display: flex;
          flex-direction: column; }
          .pro-main article .pro-section .pro-content-each .pro-each-img {
            width: 40.1069518717vw;
            height: 60%;
            border-radius: 1.6711229947vw; }
          .pro-main article .pro-section .pro-content-each .pro-each-text {
            width: 40.1069518717vw;
            height: 25%;
            font-size: 3.3422459893vw;
            overflow: hidden; }
          .pro-main article .pro-section .pro-content-each .pro-each-price-box {
            width: 40.1069518717vw;
            height: 15%;
            font-size: 4.0106951872vw;
            font-weight: bold;
            display: flex;
            justify-content: flex-end; }
      .pro-main article .pro-detail-section {
        width: 89.9732620321vw;
        height: 150%;
        margin: 0 auto;
        display: block; 
        .pro-description {
          width: 100%;
          height: 15%;
          font-size: 3.5416666667vw;
          padding: 0;
          overflow: scroll;
          border-radius: 1.0416666667vw;
          background: #efefef;
        }
        .price-result-box {
          width: 100%;
          height: 15%;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: flex-end;

          .price-total-box {
            width: 100%;
            height: 40%;
            display: flex;
            align-items: center;
            font-size: 6.0160427807vw;
            font-weight: bold; 
          }
            .pro-total-text {
              width: 40%;
              text-align: center; 
            }
            .pro-total-price-box {
              width: 60%;
              display: flex;
              justify-content: flex-end; 
            }
          .purchase-box {
            width: 100%;
            height: 60%;
            display: flex;
            font-size: 5.013368984vw;
            align-items: center;
            justify-content: space-between; 

            .pro-basket {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 0.3342245989vw solid #54C152; 
            }
            .pro-basket > p {
              color: #399f37; 
            }
            .pro-basket:active {
              background: #ddd; 
            }
            .pro-purchase {
              display: flex;
              align-items: center;
              justify-content: center;
              background: #54C152; 
            }
            .pro-purchase > p {
              color: #fff; 
            }
            .pro-purchase:active {
              background: #379c35; 
            }
          }
           .purchase-box > * {
            width: 40.1069518717vw;
            height: 80%;
            text-align: center;
            border: 0.3342245989vw solid #aaa; 
          }
        }
        .img-box {
          width: 89.6390374332vw;
          height: 50%;
          display: flex;
          flex-direction: column;
          & > img {
            width: 100%;
            height: 80%;
          } 

          .mark-box {
            width: 50%;
            height: 20%;
            display: flex;
            justify-content: flex-start;

            & > img {
              width: 30%;
              height: 90%;
              margin-left: 1%;
            }
          }
        }

        .func-box {
          width: 89.9732620321vw;
          height: 25%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-content: flex-end;
          align-items: flex-end;
          .pro-name {
            width: 100%;
            height: 45%;
            padding: 0px;
            overflow: hiddden;
            font-size: 4.3020833333vw;
            font-weight: bold;
          } 

          .price-box {
            width: 100%;
            height: 20%;
            padding-right: 0.5208333333vw;
            font-size: 5.5625vw;
            font-weight: bold;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            letter-spacing: 0.0520833333vw;
          }

          .count-box {
            width: 36.4973262032vw;
            height: 30%;
            display: flex;
            align-items: center;
            justify-content: space-between; 

            & > * {
              width: 9.3582887701vw;
              height: 90%;
              font-size: 5.013368984vw;
              font-weight: bold;
              text-align: center;
              border-radius: 3.3422459893vw;
              line-height: 10.5280748663vw;
              border: 0.3342245989vw solid #aaa;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer; 
            }
          }
          .count-box input::-webkit-inner-spin-button {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none; 
          }
          .count-box input {
            background: #fff;
            outline: none; 
          }
        }
      }

      .pro-main article .page-box {
        width: 43.1818181818vw;
        height: 10%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .pro-main article .page-box > i {
          font-size: 5.6818181818vw; }
        .pro-main article .page-box * {
          font-size: 5.013368984vw;
          font-weight: bold;
          text-align: center;
          text-decoration: none; }

    .event-all-main {
      width: 100vw;
      height: 90%;
      padding-top: 0.0334224599vw;
      overflow-x: hidden;  }
      .event-all-main article {
        width: 89.9732620321vw;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .event-all-main article section {
          width: 89.9732620321vw;
          height: 85%;
          margin: 0 auto; }
          .event-all-main article .text-box {
            width: 89.9732620321vw;
            height: 10%;
            display: flex;
            align-items: center;
            margin-left: 0; 
          }
            .event-all-main article .text-box > i {
              font-size: 10.0267379679vw; }
            .event-all-main article .text-box > p {
              height: initial;
              font-size: 6.6844919786vw; }
          .event-all-main article section .event-all-wrap {
            width: 89.9732620321vw;
            height: 90%;
            border-top: 2px dashed #777 }
            .event-all-main article section .event-all-wrap > *:link {
              display: inline-block;
              width: 89.9732620321vw;
              height: 25%;
              text-decoration: none; }
              .event-all-main article section .event-all-wrap > *:link:not(:last-child) {
                border-bottom: 0.1671122995vw solid #555; }
            .event-all-main article section .event-all-wrap .event-all-each-box {
              width: 100%;
              height: 25%;
              display: flex;
              border-bottom: 2px dashed #777;
              flex-direction: column;
              flex-wrap: wrap;
              justify-content: center; }
              .event-all-main article section .event-all-wrap .event-all-each-box img {
                width: 21.7245989305vw;
                height: 80%;
                border: 1px solid #777; }
              .event-all-main article section .event-all-wrap .event-all-each-box .event-title {
                width: 63.2352941176vw;
                height: 40%;
                font-size: 4.13368984vw;
                font-weight: bold;
                display: flex;
                align-items: center;
               }
              .event-all-main article section .event-all-wrap .event-all-each-box .event-date {
                width: 63.2352941176vw;
                height: 30%;
                display: flex;
                font-size: 3.6764705882vw;
                display: flex;
                align-items: center;
               }
        .event-all-main article .page-box {
          width: 43.1818181818vw;
          height: 10%;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .event-all-main article .page-box > i {
            font-size: 6.6844919786vw; }
          .event-all-main article .page-box * {
            font-size: 6.0160427807vw;
            text-align: center;
            text-decoration: none; }

    .cart-main {
      width: 100vw;
      height: 90%;
      display: flex;
      align-items: center;
      padding-top: 0.0334224599vw; }
      .cart-main article {
        width: 89.9732620321vw;
        height: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .cart-main article .cart-top-section {
          width: 89.9732620321vw;
          height: 8%;
          border-bottom: 0.3342245989vw solid #555;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .cart-main article .cart-top-section > p {
            width: 33.422459893vw;
            height: 80%;
            font-size: 6.0160427807vw;
            font-weight: bold;
            text-align: left;
            display: flex;
            align-items: center; }
          .cart-main article .cart-top-section > div {
            width: 20.0534759358vw;
            height: 80%;
            font-size: 4.0106951872vw;
            text-align: center;
            line-height: 8.3556149733vw;
            border: 0.3342245989vw solid #aaa;
            border-radius: 1.6711229947vw;
            display: flex;
            justify-content: center;
            align-items: center; }
            .cart-main article .cart-top-section > div:active {
              background: #eee; }
        .cart-main article .cart-mid-section {
          width: 89.9732620321vw;
          height: 80%;
          overflow: scroll; }
          .cart-main article .cart-mid-section .cart-collum {
            width: 89.9732620321vw;
            height: 10%;
            border-bottom: 0.1671122995vw solid #555;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            .cart-main article .cart-mid-section .cart-collum > * {
              font-size: 4.0106951872vw;
              font-weight: bold;
              text-align: center; }
            .cart-main article .cart-mid-section .cart-collum .cart-check-all {
              width: 4.0106951872vw;
              height: 40%;
              text-align: center;
              margin-left: 0.5013368984vw;
              line-height: 1.0026737968vw;
              border: 0.0334224599vw solid #ccc;
              border-radius: 0.3342245989vw; }
            .cart-main article .cart-mid-section .cart-collum .cart-pro-name {
              width: 41.7780748663vw;
              height: 70%; }
            .cart-main article .cart-mid-section .cart-collum .cart-pro-price {
              width: 13.3689839572vw;
              height: 70%; }
            .cart-main article .cart-mid-section .cart-collum .cart-pro-count {
              width: 12.0320855615vw;
              height: 70%; }
            .cart-main article .cart-mid-section .cart-collum .cart-pro-total {
              width: 15.7085561497vw;
              height: 70%; }
          .cart-main article .cart-mid-section .cart-list-wrap {
            width: 89.9732620321vw;
            height: 90%; }
            .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box {
              width: 89.9732620321vw;
              height: 12%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-bottom: 0.1671122995vw solid #555; }
              .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-check {
                width: 4.0106951872vw;
                height: 41%;
                text-align: center;
                margin-left: 0.5013368984vw;
                border: 0.0334224599vw solid #ccc;
                border-radius: 0.3342245989vw; }
              .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-pro-box {
                width: 41.7780748663vw;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between; }
                .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-pro-box img {
                  width: 9.692513369vw;
                  height: 90%; }
                .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-pro-box .cart-each-name {
                  width: 33.422459893vw;
                  height: 60%;
                  font-size: 3.3422459893vw;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap; }
              .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-price-box {
                width: 13.3689839572vw;
                height: 60%;
                font-size: 3.3422459893vw;
                display: flex;
                justify-content: flex-end; }
                .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-price-box .cart-each-price {
                  width: 10.0267379679vw;
                  height: 3.3422459893vw;
                  text-align: right; }
                .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-price-box .cart-each-krw {
                  width: 3.3422459893vw;
                  height: 3.3422459893vw; }
              .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-count-box {
                width: 12.0320855615vw;
                height: 45%;
                display: flex;
                align-items: center;
                justify-content: space-evenly; }
                .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-count-box > * {
                  width: 4.0106951872vw;
                  height: 100%;
                  font-size: 3.3422459893vw;
                  border-radius: 0.6684491979vw;
                  border: 0.1002673797vw solid #aaa;
                  text-align: center;
                  display: flex;
                  justify-content: center;
                  align-items: center; }
                .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-count-box input::-webkit-inner-spin-button {
                  appearance: none;
                  -moz-appearance: none;
                  -webkit-appearance: none; }
                .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-count-box input {
                  background: #fff;
                  outline: none; }
              .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-total-box {
                width: 15.7085561497vw;
                height: 60%;
                font-size: 3.3422459893vw;
                display: flex;
                justify-content: flex-end; }
                .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-total-box .cart-each-total {
                  width: 12.3663101604vw;
                  height: 3.3422459893vw;
                  text-align: right; }
                .cart-main article .cart-mid-section .cart-list-wrap .cart-each-box .cart-each-total-box .cart-each-krw {
                  width: 3.3422459893vw;
                  height: 3.3422459893vw; }
        .cart-main article .cart-bot-section {
          width: 89.9732620321vw;
          height: 12%;
          border-top: 0.3342245989vw solid #333;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-end; }
          .cart-main article .cart-bot-section .cart-total-box {
            width: 43.449197861vw;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 3.6764705882vw;
            font-weight: bold; }
            .cart-main article .cart-bot-section .cart-total-box .cart-total-text {
              width: 20.0534759358vw;
               }
            .cart-main article .cart-bot-section .cart-total-box .cart-total-price-box {
              width: 23.3957219251vw;
              
              display: flex;
              justify-content: flex-end;
              font-size: 3.6764705882vw;
              font-weight: bold; }
              .cart-main article .cart-bot-section .cart-total-box .cart-total-price-box .cart-total {
                width: 20.0534759358vw;
                height: 1.3368983957vw;
                text-align: right; }
              .cart-main article .cart-bot-section .cart-total-box .cart-total-price-box .cart-total-krw {
                width: 3.3422459893vw;
                height: 1.3368983957vw; }
          .cart-main article .cart-bot-section .cart-purchase {
            width: 30%;
            height: 45%;
            background: #61d15f;
            font-size: 4.1764705882vw;
            color: #fff;
            border: 0.3342245989vw solid #aaa;
            display: flex;
            justify-content: center;
            align-items: center; }
          .cart-main article .cart-bot-section .cart-purchase:active {
            background: #52b050; }

    .login-mainbox {
      width: 100vw;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow-x: hidden; 

      .login-outbox {
        background-color: #F2FFEC;
        width: 70%;
        height: 50%;
        margin: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 10px; 

        .login-logobox {
          width: 40%;
          height: 30%;
          margin-top: -10%;
          display: flex;
          align-items: center;
          font-size: 6.6844919786vw;

          & img {
            width: 40%;
            height: 100%;
          }

          h1 {
            font-size: 5.660427807vw;
          }
        }

        div {
          width: 80%;
          height: 30%;
          margin-top: -10%;

          .login-input-textbox {
            width: 100%;
            height: 40%;
            font-size: 5.0106951872vw;
            padding-left: 4%;
            background-color: white;
            border: none;
            border-radius: 10px;
            box-shadow: 0.5px 0.5px 0.5px 0.5px inset rgba(128, 128, 128, 0.568);
          }

          .login-next-btn {
            width: 100%;
            height: 40%;
            color: blue;
            font-weight: bold;
            font-size: 5.0106951872vw;
            margin-top: 10%;
            background-color: #0BAC08;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            color: aliceblue;
            box-shadow: 1px 1px rgba(155, 155, 155, 0.555);
          }
        }
      }
      & > a {
        width: 50%;
        height: 10%;
        & .login-join-membership-btn {
        width: 50%;
        height: 5%;
        margin: 5% 0 0 0;
        font-size: 4.0106951872vw;
        border: none;
        color: #4747fd;
        }
      }
    }

    .membership-mainteg {
      width: 100vw;
      height: 90%;
      overflow-x: hidden; 
    }
      .membership-outbox {
        width: 70%;
        height: 60%;
        font-size: 5.3020833333vw;
        text-align: center;
        margin-top: -10%;

        .membership-inbox {
          width: 100%;
          height: 10%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 6%;

          & .membership-logo-img {
            width: 15%;
            height: 100%;
          }

          .membership-logo-font {
            font-size: 5.3020833333vw;
         }
        }

        .membership-main {
          background-color: #F2FFEC;
          width: 100%;
          height: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          border-radius: 10px;

          .member-input-textbox {
            height: 10%;
            width: 70%;
            display: flex;
            border: none;
            border-radius: 10px;
            box-shadow: 1px 1px 1px 1px inset rgba(128, 128, 128, 0.568);
            margin: 0 auto;
            font-size: 3.3020833333vw;
            padding-left: 2.5208333333vw;
            text-align: left;
          }

          .member-next-btn {
            height: 10%;
            width: 70%;
            margin: 0 auto;
            padding-left: 2.5208333333vw;
            background-color: #0BAC08;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4.3020833333vw;
            border-radius: 10px;
            color: aliceblue;
            box-shadow: 1px 1px rgba(155, 155, 155, 0.555);
          }
        }
      }

    .chat-bot {
      position: fixed;
      bottom: 10px;
      right: 20px;
      .bot-size {
        width: 10.2083333333vw;
      }
    }

    .chatting-section {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 70%;
      margin: 0.78125vw auto 3.125vw;
      background-color: #313131;
      border-radius: 30px;
      box-sizing: border-box;
      padding: 1.8229166667vw -167.395833333;
      overflow-x: hidden; 

      .chatting-h1 {
        color: white;
        font-size: 5.0833333333vw;
        margin-bottom: 0.78125vw;
        .close-bot {
          font-family: xeicon!important;
          display: inline-block;
          speak: none;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 3;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }

      .chatting-main {
        height: calc(100% - 2.083vw - 17vw);
        overflow-y: scroll;
        padding-top: 0.78125vw;
        box-sizing: border-box;
        .gpt-chat {
          text-align: left;
          .chat-element {
            display: inline-block;
            margin-top: 1.18125vw;
            max-width: 40.0416666667vw;
            color: white;
            background-color: #555555;
            padding: 0.78125vw;
            box-sizing: border-box;
            margin-bottom: 0.78125vw;
          }
        }
      }

      .display-flex-space-ev {
        display: flex;
        justify-content: space-around;
        .chatting-input {
          height: 7.9895833333vw;
          font-size: 1.8229166667vw;
          padding-top: 1.5625vw;
          padding-left: 1.3020833333vw;
          padding-right: 1.3020833333vw;
          background-color: #7d7d7d;
          width: 80%;
          box-sizing: border-box;
          color: aliceblue;
          resize: none;
        }

        .chatting-button {
          font-size: 3.8645833333vw;
          width: 15%;
          background-color: transparent;
          color: aliceblue;
          border: 2px solid aliceblue;
        }
      }
    }
}
