// px함수
@function pxToVw($px) {
  @return $px / 2992 * 100vw;
}

// 전체 적용
* {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Noto Sans KR", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

.link-none {
  &:link {
    text-decoration: none;
  }
}

// header태그 전체
html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

header {
  width: pxToVw(2992);
  height: 10%;
  background: #EEFFEB;
  box-shadow: pxToVw(0) pxToVw(10) pxToVw(80) pxToVw(0) #888;

  *:link {
    text-decoration: none;
  }

  .logo-box {
    width: pxToVw(500);
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: pxToVw(300);
      height: 70%;
      margin-top: pxToVw(30);
    }
  }

  .banner-box {
    width: pxToVw(2492);
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


    &>i {
      font-size: pxToVw(30);
    }

    &>*:link {
      font-size: pxToVw(110);
    }
  }
}

// 모바일 메인페이지
.main-main {
  width: pxToVw(2992);
  height: 90%;
  padding-top: pxToVw(1);
  overflow-y: scroll;

  article {
    width: pxToVw(2692);
    height: 160%;
    margin: 8% auto 0;

    .top-section {
      width: pxToVw(2692);
      height: 55%;

      .today-pro-suggestion {
        width: pxToVw(2692);
        height: 5%;
        font-size: pxToVw(150);
        font-weight: bold;
      }

      .today-pro-wrap {
        width: pxToVw(2692);
        height: 93%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-around;

        .each-pro-box {
          width: pxToVw(1270);
          height: 42%;
          display: flex;
          flex-direction: column;
          background: #f7f7f7;
          border-radius: pxToVw(50);
          box-shadow: pxToVw(0) pxToVw(1) pxToVw(100) pxToVw(0) #bbb;

          img {
            width: pxToVw(1270);
            height: 60%;
            border-radius: pxToVw(50) pxToVw(50) 0 0;
          }

          .each-pro-title {
            width: pxToVw(1210);
            height: 23%;
            padding: pxToVw(10) pxToVw(30) pxToVw(10) pxToVw(30);
            font-size: pxToVw(110);
            overflow: hidden;
          }

          .each-pro-price-box {
            width: pxToVw(1270);
            height: 15%;
            font-size: pxToVw(140);
            font-weight: bold;
            display: flex;
            justify-content: flex-end;

            .each-pro-price {
              width: pxToVw(1000);
              height: 100%;
              text-align: right;
            }

            .each-pro-krw {
              width: pxToVw(150);
              height: 100%;
              text-align: center;
            }
          }
        }
      }
    }

    .bot-section {
      width: pxToVw(2692);
      height: 45%;

      .today-event-suggestion {
        width: pxToVw(2692);
        height: 7%;
        font-size: pxToVw(150);
        font-weight: bold;
      }

      .today-event-wrap {
        width: pxToVw(2692);
        height: 93%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .each-event-box {
          width: pxToVw(2692);
          height: 45%;
          display: flex;
          flex-direction: column;
          border-radius: pxToVw(50);
          box-shadow: pxToVw(0) pxToVw(1) pxToVw(100) pxToVw(0) #bbb;

          img {
            width: pxToVw(2692);
            height: 70%;
            border-radius: pxToVw(50) pxToVw(50) 0 0;
          }

          .each-event-title {
            width: pxToVw(2652);
            height: 15%;
            margin-left: pxToVw(40);
            font-size: pxToVw(120);
            font-weight: bold;
          }

          .each-event-date {
            width: pxToVw(2652);
            height: 10%;
            margin-left: pxToVw(40);
            font-size: pxToVw(110);
          }
        }
      }
    }
  }
}

// 모바일 상품페이지

.pro-main {
  width: pxToVw(2992);
  height: 90%;
  padding-top: pxToVw(1);

  aside {
    width: pxToVw(2692);
    height: 25%;
    margin: 3.5% auto 1.5%;
    border-radius: pxToVw(70);
    background: #333651;

    .pro-category-text-box {
      width: pxToVw(2692);
      height: 25%;
      border-radius: pxToVw(70) pxToVw(70) 0 0;
      display: flex;
      align-items: center;
      background: #7486C8;

      &>i {
        margin-left: pxToVw(50);
        color: #fff;
        font-size: pxToVw(200);
      }

      &>p {
        width: pxToVw(2192);
        color: #fff;
        text-align: center;
        font-size: pxToVw(130);
        font-weight: bold;
      }
    }

    .pro-category-box {
      width: pxToVw(2692);
      height: 75%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &>* {
        width: pxToVw(897);
        height: 50%;
        text-align: center;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  article {
    width: pxToVw(2692);
    height: 70%;
    margin: 0 auto;

    &>div {
      width: pxToVw(2692);
      height: 58%;

      &>div>i {
        font-size: pxToVw(300);
        color: #ddd;
      }

      & div {
        width: pxToVw(2692);
        height: 100%;
        border-radius: pxToVw(50);
      }

      .pro-slide-effect>div {
        width: pxToVw(2692);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
      }
    }

    .pro-main-img {
      width: pxToVw(2692);
      margin-top: 2%;
      height: 40%;
      border-radius: pxToVw(50);
    }

    .pro-section {
      width: pxToVw(2692);
      height: 90%;
      display: flex;
      text-decoration: none;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-around;
      justify-content: space-evenly;

      &>*:link {
        text-decoration: none;
      }

      *:link {
        width: pxToVw(1200);
        height: 45%;
      }

      .pro-content-each {
        width: pxToVw(1200);
        height: 105%;
        display: flex;
        flex-direction: column;

        .pro-each-img {
          width: pxToVw(1200);
          height: 60%;
          border-radius: pxToVw(50);
        }

        .pro-each-text {
          width: pxToVw(1200);
          height: 25%;
          font-size: pxToVw(100);
          overflow: hidden;
        }

        .pro-each-price-box {
          width: pxToVw(1200);
          height: 15%;
          font-size: pxToVw(120);
          font-weight: bold;
          display: flex;
          justify-content: flex-end;
        }
      }
    }

    .pro-detail-section {
      width: pxToVw(2692);
      height: 150%;
      margin: 0 auto;

      .top-box {
        width: pxToVw(2682);
        height: 70%;
        border: pxToVw(5) solid #aaa;
        border-radius: pxToVw(50);
        overflow-x: hidden;
        overflow-y: scroll;

        .top-scroll-wrap {
          width: pxToVw(2692);
          height: 120%;

          .img-box {
            width: pxToVw(2692);
            height: 65%;

            &>img {
              width: pxToVw(2692);
              height: 70%;
              border-radius: pxToVw(50);
            }

            &>p {
              width: pxToVw(2692);
              height: 30%;
              font-size: pxToVw(140);
              font-weight: bold;
            }
          }

          .mark-price-box {
            width: pxToVw(2692);
            height: 12%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .mark-box {
              width: pxToVw(1092);
              height: 80%;
              display: flex;
              justify-content: space-between;
              align-items: center;

              &>img {
                width: pxToVw(320);
                height: 90%;
              }
            }

            .price-box {
              width: pxToVw(1200);
              height: 80%;
              font-size: pxToVw(170);
              font-weight: bold;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              letter-spacing: pxToVw(1);
            }
          }

          .pro-description {
            width: pxToVw(2692);
            height: 23%;
            font-size: pxToVw(130);
            border-radius: pxToVw(20);
          }
        }
      }

      .func-box {
        width: pxToVw(2692);
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .count-box {
          width: pxToVw(1092);
          height: 35%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &>* {
            width: pxToVw(280);
            height: 65%;
            font-size: pxToVw(150);
            font-weight: bold;
            text-align: center;
            border-radius: pxToVw(100);
            line-height: pxToVw(315);
            border: pxToVw(10) solid #aaa;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }

          input::-webkit-inner-spin-button {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
          }

          input {
            background: #fff;
            outline: none;
          }
        }

        .price-total-box {
          width: pxToVw(2692);
          height: 20%;
          display: flex;
          align-items: center;
          font-size: pxToVw(180);
          font-weight: bold;

          .pro-total-text {
            width: pxToVw(1200);
            text-align: center;
          }

          .pro-total-price-box {
            width: pxToVw(1492);
            display: flex;
            justify-content: flex-end;
          }
        }

        .purchase-box {
          width: pxToVw(2692);
          height: 40%;
          display: flex;
          font-size: pxToVw(150);
          align-items: center;
          justify-content: space-between;

          &>* {
            width: pxToVw(1200);
            height: 80%;
            text-align: center;
            border: pxToVw(10) solid #aaa;
          }

          .pro-basket {
            display: flex;
            align-items: center;
            justify-content: center;
            border: pxToVw(10) solid #54C152;

            &>p {
              color: #399f37;
            }
          }

          .pro-basket:active {
            background: #ddd;
          }

          .pro-purchase {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #54C152;

            &>p {
              color: #fff;
            }
          }

          .pro-purchase:active {
            background: #379c35;
          }
        }
      }
    }


    .page-box {
      width: pxToVw(1292);
      height: 10%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &>i {
        font-size: pxToVw(170);
      }

      & * {
        font-size: pxToVw(150);
        font-weight: bold;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}


// 행사 페이지
.event-main {
  width: pxToVw(2992);
  height: 90%;
  padding-top: pxToVw(1);

  article {
    width: pxToVw(2692);
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    section {
      width: pxToVw(2692);
      height: 85%;
      margin: 0 auto;

      .text-box {
        width: pxToVw(2692);
        height: 10%;
        display: flex;
        align-items: center;

        &>i {
          font-size: pxToVw(300);
        }

        &>p {
          font-size: pxToVw(200);
        }
      }

      .event-all-wrap {
        width: pxToVw(2692);
        height: 90%;
        border-top: pxToVw(10) solid #555;
        border-bottom: pxToVw(10) solid #555;

        &>*:link {
          display: inline-block;
          width: pxToVw(2692);
          height: 25%;
          text-decoration: none;

          &:not(:last-child) {
            border-bottom: pxToVw(5) solid #555;
          }
        }

        .event-each-box {
          width: pxToVw(2692);
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;

          img {
            width: pxToVw(650);
            height: 80%;
          }

          .event-title {
            width: pxToVw(1892);
            height: 30%;
            font-size: pxToVw(150);
            font-weight: bold;
            display: flex;
            align-items: center;
          }

          .event-date-box {
            width: pxToVw(1892);
            height: 30%;
            display: flex;
            font-size: pxToVw(110);
            display: flex;
            align-items: center;

            .event-date {
              margin-left: pxToVw(30);
            }
          }
        }
      }
    }

    .page-box {
      width: pxToVw(1292);
      height: 10%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &>i {
        font-size: pxToVw(200);
      }

      & * {
        font-size: pxToVw(180);

        text-align: center;
        text-decoration: none;
      }
    }
  }
}

// 장바구니 페이지
.cart-main {
  width: pxToVw(2992);
  height: 90%;
  display: flex;
  align-items: center;
  padding-top: pxToVw(1);

  article {
    width: pxToVw(2692);
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .cart-top-section {
      width: pxToVw(2692);
      height: 8%;
      border-bottom: pxToVw(10) solid #555;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &>p {
        width: pxToVw(1000);
        height: 80%;
        font-size: pxToVw(180);
        font-weight: bold;
        text-align: left;
        display: flex;
        align-items: center;
      }

      &>div {
        width: pxToVw(600);
        height: 80%;
        font-size: pxToVw(120);
        text-align: center;
        line-height: pxToVw(250);
        border: pxToVw(10) solid #aaa;
        border-radius: pxToVw(50);
        display: flex;
        justify-content: center;
        align-items: center;

        &:active {
          background: #eee;
        }
      }
    }

    .cart-mid-section {
      width: pxToVw(2692);
      height: 80%;
      overflow: scroll;

      .cart-collum {
        width: pxToVw(2692);
        height: 10%;
        border-bottom: pxToVw(5) solid #555;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>* {
          font-size: pxToVw(120);
          font-weight: bold;
          text-align: center;
        }

        .cart-check-all {
          width: pxToVw(120);
          height: 40%;
          text-align: center;
          margin-left: pxToVw(15);
          line-height: pxToVw(30);
          border: pxToVw(1) solid #ccc;
          border-radius: pxToVw(10);
        }

        .cart-pro-name {
          width: pxToVw(1250);
          height: 70%;
        }

        .cart-pro-price {
          width: pxToVw(400);
          height: 70%;
        }

        .cart-pro-count {
          width: pxToVw(360);
          height: 70%;
        }

        .cart-pro-total {
          width: pxToVw(470);
          height: 70%;
        }
      }

      .cart-list-wrap {
        width: pxToVw(2692);
        height: 90%;

        .cart-each-box {
          width: pxToVw(2692);
          height: 12%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: pxToVw(5) solid #555;

          .cart-each-check {
            width: pxToVw(120);
            height: 41%;
            text-align: center;
            margin-left: pxToVw(15);
            border: pxToVw(1) solid #ccc;
            border-radius: pxToVw(10);
          }

          .cart-each-pro-box {
            width: pxToVw(1250);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
              width: pxToVw(290);
              height: 90%;
            }

            .cart-each-name {
              width: pxToVw(1000);
              height: 60%;
              font-size: pxToVw(100);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          .cart-each-price-box {
            width: pxToVw(400);
            height: 60%;
            font-size: pxToVw(100);
            display: flex;
            justify-content: flex-end;

            .cart-each-price {
              width: pxToVw(300);
              height: pxToVw(100);
              text-align: right;
            }

            .cart-each-krw {
              width: pxToVw(100);
              height: pxToVw(100);
            }
          }

          .cart-each-count-box {
            width: pxToVw(360);
            height: 45%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            &>* {
              width: pxToVw(120);
              height: 100%;
              font-size: pxToVw(100);
              border-radius: pxToVw(20);
              border: pxToVw(3) solid #aaa;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            input::-webkit-inner-spin-button {
              appearance: none;
              -moz-appearance: none;
              -webkit-appearance: none;
            }

            input {
              background: #fff;
              outline: none;
            }
          }

          .cart-each-total-box {
            width: pxToVw(470);
            height: 60%;
            font-size: pxToVw(100);
            display: flex;
            justify-content: flex-end;

            .cart-each-total {
              width: pxToVw(370);
              height: pxToVw(100);
              text-align: right;
            }

            .cart-each-krw {
              width: pxToVw(100);
              height: pxToVw(100);
            }
          }
        }
      }
    }

    .cart-bot-section {
      width: pxToVw(2692);
      height: 12%;
      border-top: pxToVw(10) solid #333;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;

      .cart-total-box {
        width: pxToVw(1300);
        height: 50%;
        display: flex;
        justify-content: flex-end;
        font-size: pxToVw(110);
        font-weight: bold;

        .cart-total-text {
          width: pxToVw(600);
          height: 100%;
        }

        .cart-total-price-box {
          width: pxToVw(700);
          height: 100%;
          display: flex;
          justify-content: flex-end;
          font-size: pxToVw(110);
          font-weight: bold;

          .cart-total {
            width: pxToVw(600);
            height: pxToVw(40);
            text-align: right;
          }

          .cart-total-krw {
            width: pxToVw(100);
            height: pxToVw(40);
          }
        }
      }

      .cart-purchase {
        width: pxToVw(600);
        height: 45%;
        background: #61d15f;
        color: #fff;
        border: pxToVw(10) solid #aaa;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .cart-purchase:active {
        background: #52b050;
      }
    }
  }
}

// 소개페이지
.intro-main {
  width: pxToVw(2992);
  height: 90%;
  padding-top: pxToVw(1);
  overflow-y: scroll;

  &>img {
    width: pxToVw(2992);
    height: 23%;
    margin-top: 2%;
  }

  .intro-box {
    width: pxToVw(2692);
    height: 60%;
    margin: 0 auto;

    .effect-box {
      width: pxToVw(2692);
      height: 50%;
      margin: 0 auto;

      &>img {
        width: pxToVw(200);
        height: 18%;
        float: left;
      }

      &>h1 {
        width: pxToVw(2492);
        height: 20%;
        float: left;
        font-size: pxToVw(170);
        font-weight: bold;
      }

      &>p {
        width: pxToVw(2692);
        height: 80%;
        float: left;
        margin-top: 0.5%;
        font-size: pxToVw(120);
        font-weight: normal;
      }
    }

    .target-box {
      width: pxToVw(2692);
      height: 50%;
      margin-top: 5%;

      &>img {
        width: pxToVw(220);
        height: 18%;
        float: left;
      }

      &>h1 {
        width: pxToVw(2472);
        height: 20%;
        float: left;
        font-size: pxToVw(170);
        font-weight: bold;
      }

      &>p {
        width: pxToVw(2692);
        font-size: pxToVw(120);
        margin-top: 0.5%;
        height: 65%;
        font-weight: normal;
        float: left;
      }
    }
  }

  .intro-addition-img-box {
    width: pxToVw(2992);
    height: 15%;
    display: flex;

    img {
      width: pxToVw(2992);
      height: 100%;
    }
  }
}

// 로그인 페이지
.login-maintag {
  width: pxToVw(2992);
  height: 90%;
  overflow-y: scroll;

  .login-subbox {
    width: pxToVw(2692);
    margin: 30% auto;
    height: 60%;

    .login-outbox {
      background-color: #F2FFEC;
      width: pxToVw(2692);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 10px;

      .login-logobox {
        width: pxToVw(2300);
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;

        &>img {
          width: pxToVw(300);
          height: 100%;
        }

        &>h1 {
          margin-left: pxToVw(100);
          width: pxToVw(600);
          font-size: pxToVw(200);
        }
      }

      &>input {
        width: pxToVw(2050);
        height: 15%;
        font-size: pxToVw(120);
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 10px;
        margin-left: pxToVw(94);
        margin-top: pxToVw(400);
        padding-left: pxToVw(50);
        color: #333;
        box-shadow: 0.5px 0.5px 0.5px 0.5px inset rgba(128, 128, 128, 0.568);
      }

      &>button {
        width: pxToVw(2050);
        height: 15%;
        background-color: #0BAC08;
        border-radius: 10px;
        color: aliceblue;
        border: none;
        font-size: pxToVw(150);
        margin-top: pxToVw(400);
        box-shadow: 1px 1px rgba(155, 155, 155, 0.555);
      }
    }

    .login-join-membership-btn {
      margin-left: 43%;
      margin-top: pxToVw(100);
      background: none;
      border: none;
      color: blue;
      font-weight: bold;
      font-size: pxToVw(100);
    }
  }
}

//회원가입
.membership-maintag {
  width: pxToVw(2992);
  height: 90%;
  overflow-y: scroll;

  article {
    width: pxToVw(2692);
    margin: 25% auto;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;

    .membership-inbox {
      width: pxToVw(2692);
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: center;

      &>img {
        width: pxToVw(400);
        height: 100%;
      }

      &>h1 {
        width: pxToVw(800);
        text-align: center;
      }
    }

    .membership-main {
      background-color: #F2FFEC;
      width: pxToVw(2692);
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 10px;

      &>input {
        width: pxToVw(2050);
        height: 15%;
        font-size: pxToVw(120);
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 10px;
        box-shadow: 0.5px 0.5px 0.5px 0.5px inset rgba(128, 128, 128, 0.568);
        padding-left: pxToVw(50);
      }

      &>button {
        width: pxToVw(2050);
        height: 15%;
        background-color: #0BAC08;
        border-radius: 10px;
        color: aliceblue;
        border: none;
        font-size: pxToVw(150);
        margin-top: pxToVw(100);
        box-shadow: 1px 1px rgba(155, 155, 155, 0.555);
      }
    }
  }
}