@function pxToVw($px) {
  @return $px / 1920 * 100vw;
}

* {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Noto Sans KR", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

.link-none {
  &:link {
    text-decoration: none;
  }
}

header {
  width: pxToVw(1920);
  height: pxToVw(155);
  background: #EEFFEB;

  *:link {
    text-decoration: none;
  }

  .logo-box {
    width: pxToVw(350);
    height: pxToVw(155);
    float: left;
    display: flex;
    justify-content: center;

    img {
      padding: pxToVw(15);
      height: pxToVw(125);
    }
  }

  .banner-box {
    width: pxToVw(1400);
    height: pxToVw(155);
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &>*:link {
      font-size: pxToVw(50);
    }
  }
}

// --intro 파트 (2page)

.intro-main {
  background-color: #fcfff9;
  height: pxToVw(925);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  // 컨텐츠 오버 박스
  .intro-box {
    width: pxToVw(1920);
    height: pxToVw(480);
    background-color: #f9ffe3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  
    // 설립취지 폰트박스
    .effect-box {
      height: pxToVw(200);
      width: pxToVw(800);
      padding-top: pxToVw(40);
    }
  
    // 설립목표 폰트박스
    .target-box {
      height: pxToVw(200);
      width: pxToVw(800);
    }

    // 이미지 박스
    .intro-img {
      height: pxToVw(350);
      width: pxToVw(550);
      margin-left: pxToVw(100);
    }
  }

  .intro-addition-img-box {
    width: pxToVw(1800);
    height: pxToVw(300);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

    .intro-addition-img1 {
      width: pxToVw(400);
      height: pxToVw(300);
    }

    .intro-addition-img2 {
      width: pxToVw(500);
      height: pxToVw(300);
    }

    .intro-addition-img3 {
      width: pxToVw(300);
      height: pxToVw(300);
    }
  }
}

// 메인 페이지 CSS
.main-main {
  width: pxToVw(1920);
  height: pxToVw(600);
  margin-top: pxToVw(50);

  .each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: pxToVw(600);
  }

  & i {
    display: none;
  }
}

// 제품 페이지 CSS
.pro-main {

  aside {
    width: pxToVw(350);
    height: pxToVw(925);
    float: left;
    background: #333651;

    .pro-category {
      width: pxToVw(350);
      height: pxToVw(65);
      display: flex;
      background: #7486C8;

      i {
        width: pxToVw(50);
        height: pxToVw(65);
        text-align: center;
        line-height: pxToVw(65);
        color: #fff;
        font-size: pxToVw(30);
      }

      p {
        width: pxToVw(250);
        height: pxToVw(65);
        font-size: pxToVw(25);
        font-weight: bold;
        line-height: pxToVw(65);
        color: #fff;
        text-align: center;
      }
    }

    .pro-category-box {
      width: pxToVw(350);
      height: pxToVw(785);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      &>*:link {
        font-size: pxToVw(30);
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  .pro_list_wrap > p {
    cursor: pointer;
  }

  article {
    width: pxToVw(1570);
    height: pxToVw(925);
    float: left;

    .pro-slide-effect>div {
      width: pxToVw(1570);
      height: pxToVw(400);
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
    }

    .pro-main-img {
      width: pxToVw(1570);
      height: pxToVw(525);
    }
  
    & i {
      color: #ddd;
      font-size: pxToVw(50);
    }

    .pro-section {
      width: pxToVw(1300);
      height: pxToVw(895);
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: space-around;
      
      &>*:link {
        text-decoration: none;
      }

      & .pro-content-each {
        width: pxToVw(450);
        height: pxToVw(380);
        cursor: pointer;

        & img {
          width: pxToVw(450);
          height: pxToVw(280);
        }

        &>.pro-each-text {
          width: pxToVw(450);
          height: pxToVw(60);
          font-size: pxToVw(20);
        }

        &>.pro-each-price {
          width: pxToVw(450);
          height: pxToVw(30);
          text-align: left;
          font-size: pxToVw(20);
          font-weight: bold;
        }
      }
    }

    .pro-detail-section {
      width: pxToVw(1300);
      height: pxToVw(895);
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      align-content: center;

      .img-box {
        width: pxToVw(600);
        height: pxToVw(510);
        display: flex;
        flex-direction: column;

        &>img {
          width: pxToVw(600);
          height: pxToVw(400);
          border-radius: pxToVw(10);
        }

        &>div {
          width: pxToVw(600);
          height: pxToVw(100);
          padding: pxToVw(5) 0;

          &>img {
            width: pxToVw(90);
            height: pxToVw(90);
            padding: pxToVw(5);
            border-radius: pxToVw(10);
          }
        }
      }

      .func-box {
        width: pxToVw(600);
        height: pxToVw(500);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;

        .pro-name {
          width: pxToVw(600);
          height: pxToVw(230);
          padding: pxToVw(15);
          font-size: pxToVw(25);
          font-weight: bold;
        }

        .price-box {
          width: pxToVw(590);
          height: pxToVw(70);
          padding-right: pxToVw(10);
          font-size: pxToVw(30);
          font-weight: bold;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          letter-spacing: pxToVw(1);
        }

        .count-box {
          width: pxToVw(190);
          height: pxToVw(70);
          margin-left: pxToVw(10);
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          &>* {
            width: pxToVw(50);
            height: pxToVw(50);
            font-size: pxToVw(30);
            font-weight: bold;
            border-radius: pxToVw(10);
            border: pxToVw(3) solid #aaa;
            line-height: pxToVw(50);
            text-align: center;
            cursor: pointer;
          }

          input::-webkit-inner-spin-button {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
          }

          input {
            background: #fff;
            outline: none;
          }
        }

        .purchase-box {
          width: pxToVw(400);
          height: pxToVw(70);
          display: flex;
          font-size: pxToVw(20);
          align-items: center;
          justify-content: space-evenly;

          &>* {
            width: pxToVw(180);
            height: pxToVw(50);
            text-align: center;
            line-height: pxToVw(50);
            border: pxToVw(3) solid #aaa;
            cursor: pointer;
          }

          .pro-basket {
            color: #399f37;
            border: pxToVw(3) solid #54C152;
          }

          .pro-purchase {
            color: #fff;
            background: #54C152;
          }
        }
      }

      .pro-description {
        width: pxToVw(1160);
        height: pxToVw(160);
        font-size: pxToVw(20);
        padding: pxToVw(20) pxToVw(20);
        border-radius: pxToVw(20);
        background: #efefef;
      }
    }

    & .page-box {
      width: pxToVw(200);
      height: pxToVw(30);
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      &>* {
        font-size: pxToVw(25);
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  .pro-list-wrap {
    width: pxToVw(120);
    height: pxToVw(50);
    position: absolute;
    font-size: pxToVw(30);
    top: pxToVw(1030);
    left: pxToVw(1070);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & > p {
      cursor: pointer;
    }
  }
}

// 행사 페이지 CSS
.event-main {
  & > article > *:link {
    text-decoration: none;
  }

  .text-box {
    width: pxToVw(200);
    height: pxToVw(50);
    margin-left: pxToVw(260);

    & > i {
      font-size: pxToVw(50);
      float: left;
    }

    & > p {
      height: pxToVw(50);
      line-height: 1.6;
      margin-left: pxToVw(10);
      font-size: pxToVw(30);
      font-weight: bold;
      float: left;
    }
  }

  section {
    width: pxToVw(1400);
    height: pxToVw(340);
    display: flex;
    margin: pxToVw(15) auto;
    justify-content: space-between;

    & > div {
      width: pxToVw(400);
      height: pxToVw(340);
      cursor: pointer;

      & > img {
        width: pxToVw(400);
        height: pxToVw(250);
      }

      &>.event-title {
        font-size: pxToVw(25);
        font-weight: bold;
      }

      &>.event-date {
        margin-top: pxToVw(10);
        font-size: pxToVw(20);
      }
    }
  }

  .event-show-all {
    width: pxToVw(250);
    height: pxToVw(80);
    font-size: pxToVw(30);
    font-weight: bold;
    text-align: center;
    line-height: 2.5;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
    align-items: center;
    justify-content: space-evenly;
  }
}

// 전체 행사 페이지 CSS
.event-all-main {
  article {
    .text-box {
      width: pxToVw(200);
      height: pxToVw(50);
      margin-left: pxToVw(135);

      & > i {
        font-size: pxToVw(50);
        float: left;
      }

      & > p {
        height: pxToVw(50);
        line-height: 1.6;
        margin-left: pxToVw(10);
        font-size: pxToVw(30);
        font-weight: bold;
        float: left;
      }
    }

    & > section {
      width: pxToVw(1700);
      height: pxToVw(800);
      margin: pxToVw(15) auto;
      overflow: scroll;

      .event-all-wrap {
        width: pxToVw(1700);
        height: pxToVw(1600);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-content: stretch;

        .event-all-each-box {
          width: pxToVw(370);
          height: pxToVw(350);
          cursor: pointer;

          & > img {
            width: pxToVw(370);
            height: pxToVw(250);
          }

          &>.event-title {
            font-size: pxToVw(25);
            font-weight: bold;
          }

          &>.event-date {
            margin-top: pxToVw(10);
            font-size: pxToVw(20);
          }
        }
      }
    }
  }
}

.chat-bot {
  position: fixed;
  bottom: 30px;
  right: 20px;
}

.bot-size {
  width: pxToVw(100);
}

@keyframes slideRightToLeft {
  from {
    transform: translate(100%, -50%);
  }

  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes slideOut {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(100%, -50%);
  }
}

.chatting-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // animation: slideRightToLeft 1s forwards;
  width: pxToVw(1300);
  height: pxToVw(900);
  margin: pxToVw(15) auto pxToVw(60);
  background-color: #313131;
  border-radius: 30px;
  box-sizing: border-box;
  padding: pxToVw(35) pxToVw(50);
}

.in-bot {
  animation: slideRightToLeft 1s forwards;
}
.out-bot {
  animation: slideOut 1s forwards;
}

.chatting-h1 {
  color: white;
  font-size: pxToVw(40);
}

.chatting-main {
  height: calc(100% - 2.083vw - 7vw);
  overflow-y: scroll;
  padding-top: pxToVw(15);
  box-sizing: border-box;
}

.chatting-input {
  height: pxToVw(115);
  font-size: pxToVw(35);
  padding-top: pxToVw(30);
  padding-left: pxToVw(25);
  padding-right: pxToVw(25);
  background-color: #7d7d7d;
  width: 80%;
  box-sizing: border-box;
  color: aliceblue;
  resize: none;

  &:focus {
    outline: none;
  }
}

.display-flex-space-ev {
  display: flex;
  justify-content: space-between;
}

.chatting-button {
  font-size: pxToVw(55);
  width: 15%;
  background-color: transparent;
  color: aliceblue;
  border: 2px solid aliceblue;
}

.border-none {
  border: none;
}

.border-radius-30 {
  border-radius: pxToVw(30);
}

.border-radius-15 {
  border-radius: pxToVw(15);
}

.chat-element {
  display: inline-block;
  max-width: pxToVw(500);
  color: white;
  // width: pxToVw(500);
  background-color: #555555;
  padding: pxToVw(15);
  box-sizing: border-box;
  margin-bottom: pxToVw(15);
}

.user-chat {
  text-align: right;
}

.gpt-chat {
  text-align: left;
}

.gpt-message-box {
  width: pxToVw(300);
  height: pxToVw(150);
  position: absolute;
  top: pxToVw(670);
  left: pxToVw(1585);
  border-radius: pxToVw(20);
  background: #ddd;
  animation-name: gptMessageDisapper;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  .gpt-message {
    font-size: pxToVw(20);
    font-weight: bold;
    padding: pxToVw(10);
  }

  .gpt-message-angle {
    width: pxToVw(0);
    height: pxToVw(0);
    border-bottom: pxToVw(50) solid transparent;
    border-top: pxToVw(50) solid #ddd;
    border-left: pxToVw(25) solid transparent;
    border-right: pxToVw(25) solid transparent;
    position: absolute;
    top: pxToVw(140);
    left: pxToVw(235);
  }
}

@keyframes gptMessageDisapper {
  0%   { opacity: 1; }
  90%   { opacity: 1; }
  100% { opacity: 0; display: none; }
}

.user-color {
  background-color: #7166c6;
}

// -- 로그인 페이지

// 배경 색상
.login-main{
  width: pxToVw(1950);
  height: pxToVw(760);
  position: absolute;
  background-color:#fcfff9;
  display: flex;
  align-items: center;
  justify-content: center;
}
// 로그인 박스
.login-outbox{
  width: pxToVw(600);
  height: pxToVw(500);
  margin-top: pxToVw(-100);
  background-color: rgba(237, 252, 155, 0.824);
  border-radius: 10px;
  box-shadow: 2px 2px rgba(128, 128, 128, 0.459)
}
// 로그인 로고 박스
.login-logobox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: pxToVw(70);
}
.login-logo-font{
  font-size: pxToVw(50);
  margin-left: pxToVw(-10);
  font-weight: 100;
}
// 아이디 입력
.login-input-textbox{
  text-align: center;
  height: pxToVw(50);
  width: pxToVw(400);
  display: flex;
  margin-left: pxToVw(90);
  margin-top: pxToVw(100);
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px inset rgba(128, 128, 128, 0.568);
}
// 다음 버튼
.login-next-btn{
  height: pxToVw(50);
  width: pxToVw(400);
  margin-left: pxToVw(90);
  display: flex;
  margin-top: pxToVw(20);
  background-color: #4EAAFF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: pxToVw(20);
  border-radius: 10px;
  color: aliceblue;
  box-shadow: 1px 1px rgba(155, 155, 155, 0.555);
}
// 회원가입 버튼
.login-join-membership-btn{
  position: absolute;
  margin-left: pxToVw(-10);
  margin-top: pxToVw(600);
  background: none;
  border: none;
  font-size: pxToVw(20);
  color: rgb(71, 71, 253);
}
// .login-join-membership-btn:hover{
  
// }
.close-bot {
  font-size: pxToVw(40);
  color: white;
  float: right;
}

.hover-cursor {
  &:hover {
    cursor: pointer;
  }
}

.dY {
  display: block;
}

.dN {
  display: none;
}
